[2015-02-09 05:55] dkastner opened #1 "Clarify location for config file"
I have installed the plugin and it seems to be installed without any errors. However, I'm not seeing any notifications in slack.

There is an instruction:

I'm not sure exactly what the server's home directory is and I'm wondering if this is my problem. I created a conf file in `/var/go` and `/var/lib/go-server` on a machine running ubuntu with an ansible-installed go.cd.

[2015-02-09 07:32] ashwanthkumar commented on #1
I'm sorry for the instruction is not clear. You need `go_notify.conf` on home directory of the Go Server. Since Go doesn't have support for global configuration mechanism, the plugin reads the file from the user's home directory.

[2015-02-11 03:02] ashwanthkumar commented on #1
Did it help? If you still have issues can you share the snippet of the `plugin-slack.notifier.log`?

[2015-02-11 03:30] erithmetic commented on #1
Thanks for checking in, but unfortunately, no, I haven't gotten it to work. I don't see that log file anywhere. I have `go_notify.conf` in several locations, owned by the `go` user (the user that the server and agents run as:
- `/var/go/go_notify.conf` - this is the go user's home directory
- `/var/lib/go-server/go_notify.conf` - this is the directory that holds the server jars, plugins, etc.
- `/

[2015-02-11 04:15] ashwanthkumar commented on #1
Just so we're all on the same page. What version of GoCD are you using? The official release that supports notification plugin is yet to be released (version 15.1). If you're on a older version it will not work.

[2015-02-14 15:38] erithmetic commented on #1
Aha! I've been using v14.4. Thanks for your help!

[2015-02-14 15:38] #1 closed

[2015-03-03 23:46] rzenker opened #2 "Allow http(s)_proxy config variable in config and used downstream in slack notification library"
In an environment that does not allow direct access to hooks.slack.com an http proxy is needed.

Could you add support so that only the slack plugin/backend slack library would set it explicitly off of a config variable in the standard config file for this plugin?

If the go-server start script is modified to define it globally for java, it would affect all http(s) calls by go-server/other plugins

[2015-04-28 05:47] srinivasupadhya opened #5 "handle re-schedule"
Go now sends in notification for `scheduled` & `re-scheduled`. In both the cases the state is `unknown`. The way to handle the different states is:
counter: 1 & state: unknown => scheduled
counter: > 1 & state: unknown => re-scheduled

[2015-05-12 09:22] kkoppel opened #6 "Notification update failed for plugin: slack.notifier"
Hi!

I'm trying to use release 0.1 of your plugin with Go v15.1. I have created the /var/go/go_notify.conf file as follows:
[code]

The following error is logged in the Go server log on every pipeline run (even successful ones):
[code]

The following line is also logged in plugin-slack.notifier.log every time:
[code]

Any idea why this might be happening?
BTW, I can manually post messages using th

[2015-05-12 09:32] ashwanthkumar commented on #6
@kkoppel Can you try with the 0.2 version of the plugin?
https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/0.2

[2015-05-12 10:18] kkoppel commented on #6
I get some more informative errors now. In the Go server log:

[code]

And in plugin-slack.notifier.log:

[code]

[2015-05-12 11:31] ashwanthkumar commented on #6
This helps. Let me have a look tonight and get back to you on this.

[2015-05-12 17:54] ashwanthkumar commented on #6
Can you try the new v1.0 release? There was a pending PR which fixed (most of) these issues.

[2015-05-13 07:18] kkoppel commented on #6
Hi!

It works fine now. Thanks a lot for the fast response!

[2015-05-13 07:18] #6 closed

[2015-05-28 23:14] dwijnand opened #7 "Add a Web UI for gocd.slack.pipelines rules."
We have a large number of pipelines, and a number of teams. Instead of having each team jump into a config file on the server, it would be convenient to be able to change these from the Web UI.

[2015-06-05 07:49] pastafari opened #8 "Plugin can't connect to Go server with authentication"
Hi @ashwanthkumar ,
Thanks for working on this plugin :smile:
I keep seeing these lines in my logs
`Couldn't fetch build details: java.io.IOException: Server returned HTTP response code: 401`

So I poked around in the code a little bit. I realized that you're fetching history using the REST API, but this doesn't work when authentication is turned on. I also see that you're using `login` and `passw

[2015-06-05 09:31] ashwanthkumar commented on #8
Yeah, I forgot to update the docs. Happy to accept the PR :)

Regarding the password in plaintext. The password is stored on the server, If you're worried about your password. Why not create a separate account for slack plugin and use it? Is that an option?

[2015-06-07 13:56] pastafari commented on #8
@ashwanthkumar yes creating a separate account is an option. What permissions would the account need to have since it uses the API?

[2015-06-08 03:22] ashwanthkumar commented on #8
As long as the user's role has access to pipeline it should be fine.

[2015-06-13 15:36] ashwanthkumar commented on #8
I'm closing this now. Feel free to re-open if you still have any issues.

[2015-06-13 15:36] #8 closed

[2015-06-19 13:57] dsenecalb opened #10 "Include error logs into slack conversation"
Hi,

When running a build in go-cd, the slack plugin provides the status of the pipeline stage to slack. However, when the status is failed or canceled, a log with the error must be sent to the channel as well.
Also, who ran the pipeline must be provided to the channel as well.

Thanks

[2015-06-19 14:07] dsenecalb opened #11 "go_notify.conf must be at the go-server directory"
Hi,

Running the plugin is awesome. However, setting the go_notify.conf at the home directory of the user running go can break things in terms of migrating the application (GoCD) to another server. Instead, I suggest to save the file into the go-server directory path.

[2015-06-19 19:41] dsenecalb commented on #10
Looking into the slack chat, I found this from go

Couldn't fetch build details; see server log.

Is there a way to remove this issue? Thanks

[2015-06-22 08:52] mattcl opened #12 "Include pipeline label in message notification?"
I currently use the git revision number as the pipeline label, and it would be useful to display this so I can tell which revision has just passed a certain stage.

[2015-06-22 10:25] ashwanthkumar commented on #12
@srinivasupadhya Quick question. Does Notification API return pipeline label as part of its response? I saw [this](https://github.com/gocd/gocd/pull/968#issue-62772385) and couldn't find it.

[2015-06-22 10:28] srinivasupadhya commented on #12
no. the `pipeline label` was dropped from payload to simplify/reduce DB query time.

[2015-06-22 10:29] ashwanthkumar commented on #12
Is there a way we can query for that information from the plugin? Or is making an API call the only way?

[2015-07-08 13:43] oenriqu1 opened #14 "I only got the first notification in slack of a newly created pipeline"
I only got the first message in slack of a failure when creating the pipeline. For anything else I'm only getting errors.
I'm getting similar error messages in the logs as in issue: https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/6
However, I already have installed version 1.

From go-server.log
2015-07-08 08:23:20,756  WARN [69@MessageListener for PluginNotificationListener] Plu

[2015-07-09 13:31] oenriqu1 commented on #14
The issue was solved after adding an Authentication mechanism. It seems the user: "anonymous" was causing the errors.

[2015-07-09 13:31] #14 closed

[2015-08-06 11:53] balp opened #17 "Broken with go.cd 15.2"
When i start the plugin in 15.2 of go.cd i get the following error message in the log:

    2015-08-06 13:02:32,916 ERROR [Thread-65] PluginSettingsMetadataLoader:94 - Failed to fetch Plugin Settings metadata for plugin : slack.notifier
    java.lang.RuntimeException: Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'go.plugin-setti

[2015-08-24 19:58] kennethkalmer commented on #17
I've just started testing on 15.2 and I'm getting notifications pushed through, although not without some unexpected behaviours. That is for a separate issue after I'm done testing, but at least it works to some degree

[2015-08-24 20:07] kennethkalmer opened #19 "Send notifications for each matching rule, not just the first"
With the following configuration I expected that we'll only get _recoveries_ published in our main channel and the nitty gritty details in individual rooms we run per service.

[code]

Instead only the first rule got matched and the rest not. If this behaviour is desirable I can take a stab at a PR to get it in.

[2015-08-28 15:26] margueritepd commented on #17
I believe this is a harmless bug in gocd 15.2, and not a bug in the plugin.

https://github.com/gocd/gocd/issues/1329

[2015-09-28 08:27] ashwanthkumar commented on #19
cc: @sriram-r

[2015-09-28 08:29] ashwanthkumar commented on #17
Since this plugin doesn't have configuration page implemented, that's a LOG that gets emitted on the server. Closing this.

[2015-09-28 08:29] #17 closed

[2015-09-29 07:32] ashwanthkumar opened #21 "Make the pipelines rule reader pluggable"
This is useful if we want to move the pipeline rules to an external service.

[2015-10-09 18:31] carlittle commented on #11
I would agree.  This fails if running go server on a Windows machine because the service does not have access to the home directory of the user.  I would suggest using the environment variable CRUISE_SERVER_DIR which on windows is the base directory where the Go Server is installed.

[2015-10-22 19:08] mgreensmith opened #22 "Override channel option not functioning"
Adding a `channel` override to a pipeline rule does not seem to work. Notifications for all rules are being sent to the primary `gocd.slack.channel` if configured, and if it is not configured, are being sent to the default channel configured in the slack webhook integration.

Given a slack webhook integration with a default channel of `#general`, and this partial config:

[code]
I would expect not

[2015-10-25 03:47] ashwanthkumar commented on #22
@mgreensmith Can you please also attach the logs for the plugin? I'm specifically looking for log lines that says "Updating target slack channel to <slack channel>". This will be printed only on DEBUG mode.

[2015-10-25 03:51] ashwanthkumar commented on #22
Also if possible try running this version (https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.1.1) of the plugin. This contains additional logs in DEBUG mode that would emit the pipeline rule that's being fired.

[2015-10-25 06:05] mgreensmith commented on #22
@ashwanthkumar I just tried to reproduce the bug using `v1.1.1` of the plugin, and to my surpise, I couldn't repro -- everything worked perfectly, and messages were posted to the correct channels.

After looking through commit history, it looks like this bug has already been fixed via https://github.com/ashwanthkumar/gocd-slack-build-notifier/commit/095ab2cdcbe4e1f02bb9bb92fa7fe78a3d088bfe, but I

[2015-10-25 06:05] #22 closed

[2015-11-30 16:01] argha-c opened #23 "Null pointer exception with minimal config"
Hey,

We tried using the minimal config

[code]

The exception stack trace we see is as below:

2015-11-30 15:43:36,718  INFO [68@MessageListener for PluginNotificationListener] GoNotificationPlugin:52 - test-pipeline/2/build/1 has Failed/Failed
2015-11-30 15:43:36,718 ERROR [68@MessageListener for PluginNotificationListener] GoNotificationPlugin:77 - Error handling status message
java.lang.NullPo

[2015-11-30 16:07] ashwanthkumar commented on #23
Can you please also include the GoCD and plugin version you're using.

[2015-11-30 16:14] argha-c commented on #23
Go Version: 15.2.0
slack-notifier-1.1.1

[2015-11-30 16:40] ashwanthkumar commented on #23
And the config file is located on the home folder right? Also the config you pasted is missing a closing `}` at the end, I suppose that's just a copy-paste issue?

[2015-11-30 16:42] argha-c commented on #23
Yup, the closing brace is a copy/paste issue.
The file does exist in the expected directory path - /data/go-server/home

[2015-11-30 16:49] ashwanthkumar commented on #23
That's the home folder location for user running go server, is it? Ok.

Can you try adding this line to your config

[code]

[2015-11-30 17:05] argha-c commented on #23
No luck. Tried with the updated config. Same error, same line.

[2015-11-30 17:09] ashwanthkumar commented on #23
You had to restart the Go Server after the change for the plugin to pick it up.

Give me couple of days. I'll try to get a new patched version with more logs so we can debug further. Meanwhile if you're interested to pick it up, [this line](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/master/src/main/java/in/ashwanthkumar/gocd/slack/ruleset/Rules.java#L169) is where I'm suspecti

[2015-11-30 17:21] argha-c commented on #23
I spin up a new container every time, and verified the modified config file was indeed available at the expected location.

Thanks for the help. Do keep us posted.

[2015-12-28 10:00] manojlds commented on #11
+1

Set a sane default, and make it overridable with an environment variable?

[2015-12-28 10:01] manojlds opened #24 "Reload config at interval or at event time"
Restarting Go server is very costly in most setups.

[2015-12-28 10:17] manojlds opened #25 "Separate internal and external go server urls"
Add settings `server-host-internal` and `server-host-external`.

Internal one should be used to fetch build information, and external one will be used in the Slack message.

Default both to `127.0.0.1`. Set one to the other, if only one of them is set.

[2016-01-05 09:31] argha-c commented on #23
@ashwanthkumar : Hey! Is a patch available for this issue?

[2016-01-12 11:15] esiqveland opened #26 "Status message coloring"
Can we have a small color added to the messages to slack?

Like green for PASS/FIXED and red for FAIL?

[2016-01-12 11:20] #26 closed

[2016-01-12 11:21] esiqveland commented on #26
Hey, that's awesome @ashwanthkumar :-)

[2016-01-20 14:26] humbargs opened #27 "Use of Slack Token Vice Username/Password"
Any plans on implementing the use of slack tokens as opposed to hardcoding plaintext username/password in the conf file?

[2016-01-20 15:27] grahamc commented on #27
Hi Humbargs, the login and password in the configuration file isn't for Slack, it is for the Go server. The plugin already takes a webhook URL -- not a username, password, or even a token.

[2016-01-20 15:35] seanhumbarger commented on #27
Thanks!  Sorry for the confusion!

[2016-01-20 15:35] #27 closed

[2016-01-20 15:36] grahamc commented on #27
No worries, cheers!

[2016-02-11 17:38] RehanSaeed opened #28 "Multiple Pipelines using Multiple Web Hook URL's"
I want to setup multiple pipelines to send messages to multiple Slack channels. This is my configuration:

[code]

When I go to [Slack Incoming WebHooks](https://api.slack.com/incoming-webhooks), I get one new web hook URL for each channel I want to send messages to. How do I set this up in this case?

[2016-02-12 15:27] RehanSaeed commented on #28
Slack is a little confusing, when you set up a webhook URL, Slack asks you for a channel too but apparently a single webhook URL can be used to send messages to multiple channels.

Secondly, the pipeline ordering is important. The generic `.*` named pipelines should come after the more specific ones. So in my example, just switch the order of the pipelines to get it working.

[2016-02-12 15:27] #28 closed

[2016-02-13 07:03] dayglojesus commented on #24
:+1:

[2016-02-16 16:44] just2jays commented on #24
🙌 +1

[2016-02-19 19:32] rkrishna-1975 opened #30 "Getting - Error handling status message"
Using the plugin with 16.1.0

I am getting the following message:
[code]

my config is :
[code]

[2016-02-19 19:37] ashwanthkumar commented on #30
@rkrishna-1975 Seems like an internet issue on your side. Does your CI machine has access to internet? Can you also check if you're able to ping `hooks.slack.com` ?

[2016-02-19 22:47] rkrishna-1975 commented on #30
It is behind a proxy. I have added the Java startup properties for proxyHost and others. I am able to submit to webhooks using curl from the machine.

Sent from my iPhone

[2016-02-20 04:14] ashwanthkumar commented on #30
I haven't tested the plugin in a Proxy based environment. Looks like your issue is similar to https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/2. Since slack hooks is served under https, make sure `https.proxyHost` and `https.proxyPort` apart from the `http` variants of the above.

AFAIK if your Go Server is able to talk to internet via JVM properties, then plugin should be able t

[2016-02-22 18:09] rkrishna-1975 commented on #30
It was the https proxy. I thought that we did not need a proxy for https but putting in the https proxy solved the issue. Thanks closing the issue.

[2016-02-22 18:09] #30 closed

[2016-02-23 20:42] TheCodeKing opened #31 "Dangling meta character"
I'm getting the following on GOCD 15.2.0.

`Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'stage-status'. Reason: [Unsuccessful response from plugin. Plugin returned with code '500' and the following response: '{"status":"failure","messages":["Dangling meta character \u0027*\u0027 near index 0\r\n*\r\n^"]}']`

[2016-02-23 21:15] TheCodeKing commented on #31
My bad, I had `*` in config instead of `.*`.

[2016-02-23 21:15] #31 closed

[2016-02-25 09:08] TheCodeKing opened #32 "FIX notfications on every successful build"
We set up the plug-in to send notifications for `failed` only. However on every build we get a FIXED notification regardless of the previous run.

`  pipelines = [{
    name = "pipeline"
    stage = "Stage|OtherStage"
    state = "failed"
    channel = "#channel"
  }]`

[2016-03-03 05:54] ashwanthkumar commented on #32
Fixed via #33

[2016-03-03 05:54] #32 closed

[2016-03-04 14:47] mikeparker commented on #7
Is this done or cancelled? We also have lots of pipelines and can't afford to edit the config file all the time. I'm looking for a way to specify the channel for pipelines to notify on a per pipeline basis (e.g. environment variable)

[2016-03-04 18:23] ashwanthkumar commented on #7
I never got around implementing this :( Any sort of help will be appreciated.

[2016-03-04 21:16] juhasipo commented on #7
@ashwanthkumar I've been working on a version of this kind of feature where you could configure notification settings to pipelines via environment variables. The idea is to let global settings for all pipelines to be configured via plugin settings which then could be overridden with the pipeline environment variables. The variables would be `GO_SLACK_CHANNEL`, `GO_SLACK_STAGES` and `GO_SLACK_STATU

[2016-03-05 14:10] ashwanthkumar commented on #7
@juhasipo If we've to set these values from an environment variable, wouldn't that mean a lot of changes for existing pipelines?

[2016-03-05 14:18] ashwanthkumar commented on #7
@mikeparker The reason I'm still not convinced on the UI for the rules is that, these sort of files were meant to be managed via configuration management systems like Chef / Ansible. That's how we manage it in our environment. Also these settings are 1 time operations right?.

Would love to hear on how you manage these settings today and how building a UI help in the course?

[2016-03-05 19:36] juhasipo commented on #7
@ashwanthkumar
We have currently several projects used by different project teams on our GoCD server. With the current way each team would either have to have admin access to the GoCD server or ask the admins to change the configurations for their project pipelines. This change would make it slightly faster for the teams or team's pipeline group admins to manage the configurations themselves and t

[2016-03-10 13:00] TheCodeKing opened #35 "Ability to post notifications to different channels"
It would be great if we could have the ability to post to multiple Slack channels based on the pipeline and status rules. The current config only allows one global service hook.

[2016-03-10 17:33] ashwanthkumar commented on #35
@TheCodeKing Do you want a single pipeline status message to go to multiple slack channels or ability to choose different channels for different pipelines? If it's the latter, you can do that today - Taking a snippet of the config from the README.

[code]

[2016-03-10 17:55] TheCodeKing commented on #35
It was actually the later, and after I posted I noticed the config setting. However when setting up a Slack service hook, I can only set one destination channel. Maybe I'm missing something?

[2016-03-10 17:58] ashwanthkumar commented on #35
@TheCodeKing On Slack, the channel you configure is the default channel for the webhook but Slack allows you to [override these settings](https://api.slack.com/incoming-webhooks#customizations_for_custom_integrations).

[2016-03-10 18:01] TheCodeKing commented on #35
Thanks, I meant in slack. Is it possible for a Slack service hook have access to multiple channels? When I set it up it only allows me to select one.

[2016-03-10 18:02] ashwanthkumar commented on #35
Yes it's possible. As long as you've a webhook you can post to anyone / channel / private group.

[2016-03-10 18:04] TheCodeKing commented on #35
Ok thanks! That's where the confusion is coming from, sorry I'm new to Slack WebHooks. It must be a default.

[2016-03-10 18:10] ashwanthkumar commented on #35
Closing the issue.

[2016-03-10 18:10] #35 closed

[2016-03-11 05:14] ashwanthkumar commented on #7
Thank you so much for the inputs @juhasipo. I'm re-opening this issue - for others to pitch in.

[2016-03-14 14:05] gtrias opened #36 "Trying to connect to Rocket.Chat"
I've just installed this plugin (v1.2.0) to go-server (v16.1.0). And setting up to send the notifications to Rocket.Chat slack's compatible API.

my go_notify.conf
[code]
And I'm getting this error when the plugin tries to send the notification:

[code]

Any idea what could I do wrong?

[2016-03-14 14:08] ashwanthkumar commented on #36
@gtrias Can you share the plugin logs? It might contains some information to debug this.

[2016-03-14 14:25] gtrias commented on #36
sure, this are my logs inside `plugin-slack.notifier.log`

[code]

[2016-03-14 14:37] ashwanthkumar commented on #36
Looks like the plugin init failed. Is the go_notify.conf present on the go user's home directory?

My guess is this should have kicked in - https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/master/src/main/java/in/ashwanthkumar/gocd/slack/GoNotificationPlugin.java#L45 - Do you see any RTE in the plugin logs?

[2016-03-14 15:20] gtrias commented on #36
I have already `go_config.conf` present in my go's user home (/var/go). And I didn't see this error of file not found in the logs.

[2016-03-14 16:53] juhasipo commented on #23
@argha-c The exception from your minimal config seems to be `java.lang.IllegalArgumentException: Slack Webhook url starts with https://hooks.slack.com/services/`

@ashwanthkumar You're right that the [line](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/master/src/main/java/in/ashwanthkumar/gocd/slack/ruleset/Rules.java#L169) causes the actual error to be ignored which then causes

[2016-03-14 17:29] juhasipo commented on #36
The cause is probably the same as in the issue #23. Exception `java.lang.IllegalArgumentException: Slack Webhook url starts with https://hooks.slack.com/services/` is thrown by the slack-java-webhook library so the Pipeline Listener never gets initialized but the exception never ends up in the log.

[2016-03-15 02:45] ashwanthkumar commented on #36
@gtrias I've made a release (https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.2.1) removing that check from the underlying slack client library - so hopefully it can also be used for Rocket.Chat. Can you please verify if the latest v1.2.1 version helps you solve the issue?

[2016-03-15 02:45] ashwanthkumar commented on #36
Thank you so much for the pointer @juhasipo :+1:

[2016-03-15 02:46] ashwanthkumar commented on #23
@argha-c I'm sorry for getting back late on this. We now have a [release](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.2.1) (v1.2.1) which actually fails on that error line instead of silently failing elsewhere. Please do try it out and let me know if that helps.

[2016-03-15 10:19] gtrias commented on #36
Yeah it works like charm!! Thank you so much :)

[2016-03-15 10:19] #36 closed

[2016-03-15 16:29] argha-c commented on #23
@ashwanthkumar Cool, thanks for the fix. Will take a look.

[2016-03-17 17:40] gregorygtseng commented on #25
Looks like https://github.com/ashwanthkumar/gocd-slack-build-notifier/pull/39 basically solves this issue! @WeiBanjo

[2016-04-18 17:07] dennislo opened #40 "`Couldn't fetch build details;` and `Couldn't fetch changes;` inside slack notifications"
I'm see the following errors `Couldn't fetch build details;` and `Couldn't fetch changes;` inside the slack notifications, see screen shot below:

![screen shot 2016-04-18 at 18 02 37](https://cloud.githubusercontent.com/assets/598330/14612649/38d3bc00-0590-11e6-8414-2b8e5552eea6.png)

Here is the `go_notify.conf`
[code]

Versions:
`Slack Notification Plugin` **1.2.1**
`Go Version` **16.3.0(3183-6

[2016-04-18 17:13] ashwanthkumar commented on #40
@dennislo Can you please share the go server and plugin logs relevant to this error?

[2016-04-19 02:34] dayglojesus opened #41 "Plugin Error after Go Server Upgrade"
##### Began receiving the following error after upgrading Java and Go:

[code]

##### Java Version
[code]
##### GoCD Version
[code]

[2016-04-19 02:40] ashwanthkumar commented on #41
Looks like Go can't access your default CA Certifacte store for some reason. Possible permissions issue? Please check if [this solution](http://stackoverflow.com/a/30699960/1058334) helps.

[2016-04-19 02:45] dayglojesus commented on #41
Thanks for the quick reply. I will review this ASAP. Cheers.

[2016-04-19 03:23] dayglojesus commented on #41
Thanks @ashwanthkumar that was the fix. Cheers!

[2016-04-19 03:23] #41 closed

[2016-04-19 09:52] dennislo commented on #40
@ashwanthkumar I have the **go server** installed on my local os x machine and was not sure where the server logs are, I'm guessing: `/Users/dennis/Library/Application Support/Go Server/go-server.log`

I think I managed to find the **plugin slack notification logs**? I'm guessing: `/Users/dennis/Library/Application Support/Go Server/plugin-slack.notifier.log`

[code]

It looks like because I used

[2016-04-24 02:56] #40 closed

[2016-04-24 02:57] ashwanthkumar commented on #40
@dennislo Thanks for pointing this out. I've fixed this on the master. Next release should just work with trailing `/` as well.

[2016-04-24 03:01] ashwanthkumar commented on #23
Closing this. @argha-c Please feel free to re-open the issue if the issue occurs again.

[2016-04-24 03:01] #23 closed

[2016-04-24 10:20] argha-c commented on #23
Sure, thanks for looking into this!

[2016-04-28 14:37] callumslab opened #42 "GoCD (16.3.0) error with plugin (1.2.2)"
Hi Ashwanth,

As requested, I've encountered an error in GoCD when using your plugin and the above version numbers.

The error I receive in GoCD console is: Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'stage-status'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the

[2016-04-29 06:14] comanteodormihai commented on #42
Hey, i ve got the same error from time to time inside go. As above, is not a constant error, is just from time to time and only on failures.

Well done with the plugin never the less :+1:

[2016-05-26 18:55] chakrapani123 opened #43 "plugin configuration failed with gocd -16.1 ( plugin version 1.1.2)"
Error message:

java.lang.RuntimeException: Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'go.plugin-settings.get-configuration'. Reason: [null]
        at com.thoughtworks.go.plugin.access.PluginRequestHelper.submitRequest(PluginRequestHelper.java:38)
        at com.thoughtworks.go.plugin.access.common.settings.AbstractExtension

[2016-05-27 01:55] ashwanthkumar commented on #43
As noted here - https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/17 - this is because the plugin the doesn't implement a configuration page. This is harmless and can be ignored.

Related - https://github.com/gocd/gocd/issues/1329

[2016-05-27 01:55] #43 closed

[2016-05-27 02:05] chakrapani123 commented on #43
I still don't see any notifications in slack

Get Outlook for iOS

On Thu, May 26, 2016 at 6:55 PM -0700, "Ashwanth Kumar" notifications@github.com wrote:

Closed #43.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-05-27 03:13] chakrapani123 commented on #43
i don't see any notifications in slack & see following error message in
plugin-slack-logs

WARN [67@MessageListener for PluginNotificationListener] PipelineListener:62
- Couldn't find any matching rule of pipeline

On Thu, May 26, 2016 at 10:05 PM, Chakrapani Velugubantla <
chakri123@gmail.com> wrote:

[2016-05-27 03:17] chakrapani123 opened #44 "plugin failure for 16.1.0 gocd version"
error message:

WARN [67@MessageListener for PluginNotificationListener] PipelineListener:62 - Couldn't find any matching rule of

and no slack notifications are pushed to channel .

[2016-05-27 03:24] ashwanthkumar commented on #44
@chakrapani123 Looks like there aren't any rules matching for the pipeline that just ran. Can you share the configuration and the pipeline name, stage name and job name of the pipeline that ran?

[2016-05-27 04:46] chakrapani123 commented on #44
2016-05-26 14:15:49,386  INFO [67@MessageListener for
PluginNotificationListener] Server:52 - Fetching http://gocd-server:

8153/go/api/pipelines/create-service-pipelines/history

2016-05-26 14:15:50,529  WARN [67@MessageListener for
PluginNotificationListener] PipelineListener:62 - Couldn't find any
matching rule for cre

ate-service-pipelines/create-pipelines with status=Passed

here is a snippe

[2016-05-27 06:09] ashwanthkumar commented on #44
Thanks @chakrapani123. Can you also please share the slack plugin configuration?

[2016-05-27 06:10] ashwanthkumar commented on #44
The `go_notify.conf` file contents. Please feel free to mask out the slack webhook and gocd credentials from the file.

[2016-05-27 12:02] chakrapani123 commented on #44
slack-notifier - gocd-slack-notifier-1.1.2.jar

go-server home directory - /app/go-server

go directory - /app/home/go

pipelines directory - /app/go-server/pipelines

artifacts - /app/go-server/artifacts

plugins - /app/go-server/plugins

list of other plugins installed on gocd-server:

script-executor-0.2.jar

gocd-gradle-plugin-1.0.4.jar

docker-task-assembly-0.1.23.jar

springer-gocd-cloudfoun

[2016-05-28 11:20] ashwanthkumar commented on #44
@chakrapani123 As you can see on the README (https://github.com/ashwanthkumar/gocd-slack-build-notifier#pipline-rules), the default notification pipeline rules is to send the notifications only on pipeline failures. From the log you posed before, the stage in the pipeline actually passed. Can you try these things for me please?
1. Create a new pipeline, with a dummy stage which does `exit 1`. This

[2016-05-29 00:39] chakrapani123 commented on #44
it works now . thanks so much for gocd-slack-plugin. thanks

[2016-05-29 00:59] #44 closed

[2016-05-31 12:08] marcinkubica commented on #24
+1 maybe api call?

[2016-05-31 12:13] marcinkubica opened #45 "Separate envinorements to own slack channels"
Hi,

It's great you can set rules per pipelines and send these to different slack channels.

It would be equally useful to have this for envinorements.Less stuff would need to go to config.

Thanks
Marcin

[2016-06-01 09:28] praveenselvam commented on #24
👍  +1

[2016-06-05 15:39] ashwanthkumar commented on #45
I don't know a way to get environment information from pipeline and stage data. I'm going to keep this issue open until we've an API which can enable us to get information. Once we do, it's relatively easier to support this feature from the plugin side.

[2016-06-07 10:18] alivespirit opened #46 "Add an ability to use environment variables for login/password"
Hi,
We need to have an ability to use environment variables for the login/password in config file - something like "login = ${GO_USERNAME}". We need this because we want to grant users access to config file under source control - so they could add their own pipelines notifications for their own channels. I've tried any possible way I could for using environment variables in config, but no luck - p

[2016-06-07 11:06] ashwanthkumar commented on #46
@alivespirit Typesafe config does support resolving environmental variables. I'll probably send a patch sometime tonight. This should be easy to add.

[2016-06-08 16:21] ashwanthkumar commented on #46
@alivespirit From the [documentation](https://github.com/typesafehub/config/tree/v1.2.1#optional-system-or-env-variable-overrides) you can see that the environment variables are already supported out of the box[1]. Can you please check that when starting the go server you've the `GO_USERNAME` environment variable is present? Probably you can cross verify it on `cat /proc/<pid of go-server.jar>/env

[2016-06-13 07:15] alivespirit commented on #46
@ashwanthkumar Sorry for the late reply.
Those variables were added to `/etc/go/go-server.config`, which is exported by go-server init.d script. I have checked and `GO_USERNAME` and `GO_PASSWORD` variables are present in environ file.
Also, relevant config section looks like this:

[code]

When using quotes, no errors are mentioned in log, but on any pipelines actions there are errors 401 unauthor

[2016-06-14 07:26] vmpj commented on #42
My integration seems to be totally broken by this error

[2016-06-21 21:44] GenoZhou commented on #2
@rzenker @ashwanthkumar
Just wonder how could we config it globally for java?
I tried having following context in /etc/default/go-server and restart go-server:

export JAVA_FLAGS="-Dhttp.proxyHost=http://proxy.xxx.com -Dhttp.proxyPort=8080 -Dhttps.proxyHost=http://proxy.xxx.com -Dhttps.proxyPort=8080"

but it does not work.

[2016-06-21 23:44] ashwanthkumar commented on #2
@GenoZhou Can you try these settings
[code]
in your `/etc/default/go-server`

[2016-06-21 23:44] ashwanthkumar commented on #2
@GenoZhou Can you try these settings

[code]

in your `/etc/default/go-server`

[2016-06-22 12:33] kevynb commented on #42
Actually, the error happens when you a build pass on a previously failing pipeline, thus fixing the pipeline.
To reproduce the error, you need to 'help' a pipeline to fail, and then fix the pipeline. Maybe there's more because it seems the error happens because the information we have in the plugin's history varialbe is not right

[2016-06-22 20:05] GenoZhou commented on #30
@rkrishna-1975 I got the same error, Just wonder how you solve this issue by putting  in the https proxy?
I tried adding following content in /etc/default/go-server but it does not work

[code]

[2016-06-27 05:11] navidhaghju opened #48 "The plugin does not recognize a logged user and notifications all come through as 'anonymous'"
This by no means is a big issue, but it'd be nice to see who triggered the build in the Slack channel too.

[2016-06-29 16:54] #46 closed

[2016-06-29 16:58] ashwanthkumar commented on #46
@alivespirit Please checkout https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.3.1 it has this change.

PS: Sorry it took so long 😥

[2016-06-30 08:21] alivespirit commented on #46
@ashwanthkumar It works!
Thanks a lot for your support, appreciate it!

[2016-06-30 15:08] ashwanthkumar commented on #24
I've a branch for this feature. If anyone wants to give it a spin and share feedback, you're most welcome 😸  - https://github.com/ashwanthkumar/gocd-slack-build-notifier/pull/49

[2016-07-02 16:57] #2 closed

[2016-07-02 17:04] ashwanthkumar commented on #2
@rzenker @GenoZhou I just published [v1.4.0-RC1](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC1) which has support for providing proxy settings within the configuration file. Please do try it out and let me know if you still have issues.

[2016-07-02 19:24] #24 closed

[2016-07-02 19:32] ashwanthkumar commented on #24
Now available as part of [v1.4.0-RC2](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC2) release.

[2016-07-03 00:00] #48 closed

[2016-07-03 00:20] ashwanthkumar commented on #48
@navidhaghju Thanks for reporting the issue. I've fixed that as part of [v1.4.0-RC3](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC3) release. Can you please give it a shot and let me know? Thanks.

[2016-07-03 00:21] #25 closed

[2016-07-03 00:23] ashwanthkumar commented on #10
@dsenecalb The latest release [v1.4.0-RC3](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC3) has links to the console logs of all the jobs in the stage. See if something like that would be useful.

[2016-07-03 00:30] ashwanthkumar commented on #12
@mattcl The latest version [v1.4.0-RC3](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC3) has pipeline label in it's output message. Closing this issue.

[2016-07-03 00:30] #12 closed

[2016-07-03 04:24] #42 closed

[2016-07-03 05:17] #11 closed

[2016-07-03 05:25] ashwanthkumar commented on #11
This is now available as part of [1.4.0-RC5](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC5). Please do give it a spin and share feedback.

[2016-07-04 23:22] navidhaghju commented on #48
@ashwanthkumar Thank you very much! Just tried the new version and it works like a charm :-) and notifications are much cleaner :+1:

[2016-07-05 16:29] ashwanthkumar opened #50 "Remove the clutter from GoNotificationPlugin"
Extract the common / plugin boiler plate out so that it can be re-used across projects for building notification systems.

[2016-07-05 21:10] GenoZhou commented on #2
It shows another error:

Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'stage-status'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the following response: '{"status":"failure","messages":["sun.security.validator.ValidatorException: PKIX path building failed: sun.secu

[2016-07-06 16:59] ashwanthkumar commented on #2
What's your version of JVM? If it's JDK6 - it might be similar to this issue - http://stackoverflow.com/a/21507568.

[2016-07-17 03:07] ashwanthkumar commented on #10
Closing this. Please re-open if the issue still exist.

[2016-07-17 03:07] #10 closed

[2016-07-29 09:06] saundersj opened #51 "Allow for multiple teams (webhooks) within the config"
I would like to add multiple teams (webhooks) to the config, and thus route slack notifications between the teams.

I did try multiple configs (e.g. gocd.slack {...} ), but found only the latter config was used.

[2016-07-30 00:25] ashwanthkumar commented on #51
Just so I understand this right, you want to support multiple slack teams for every notification or different slack teams for different notifications?

[2016-07-30 00:33] ashwanthkumar commented on #51
If it's the latter, try out the new [1.4.0-RC7](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC7) release and let me know if that's what you're looking for.

[2016-07-30 01:59] saundersjr commented on #51
It is the later.  I want to send notifications for different pipelines to
channels in different teams(webhooks).

I will try the latest version and get back to you.

Regards,

Julian

On 30 Jul 2016 1:33 a.m., "Ashwanth Kumar" notifications@github.com wrote:

[2016-07-30 12:07] saundersjr commented on #51
The new version seems to be working as expected.

Thank you.

On 30 July 2016 at 02:59, Julian Saunders julian.saunders@gmail.com wrote:

[2016-07-30 13:06] #51 closed

[2016-08-04 18:06] michaeloa opened #52 "Getting notifications to work."
Trying to run this in gocd 16.7. Not seeing any notifications in slack

My go_notify.conf looks as follows:

[code]

The user/passsword works. The webhookUrl has been created in Slack. However, no notifications in slack, and no output in the log. What have I done wrong?

[2016-08-05 01:39] ashwanthkumar commented on #52
The pipeline configurations are regex params. Try this configuration

[code]

Very similar to the example in the [README](https://github.com/ashwanthkumar/gocd-slack-build-notifier#pipeline-rules).

[2016-08-05 07:26] micabytes commented on #52
Hmm. I had actually set that in the GUI interface, but that did not seem to work. Editing the conf file worked.

Anwyay, works now. Excellent plugin.

[2016-08-05 07:38] micabytes commented on #52
Ah... I realize now why the pipeline settings in the UI weren't working. I'm creating go_notify,conf via Chef in our server setup, so all of the changes that I put into the UI get overriden by Chef.

On the other hand, I can't not generate the file via Chef, because then I can't bootstrap a new server correctly (go_notify.conf would be missing).

May I suggest making the plugin 100% configurable f

[2016-08-05 12:25] michaeloa commented on #52
Sorry - logged in under my other ID.

Anyway - it turned out that I had actually set the settings correctly in the UI, but they weren't working (although showing up "correctly" in the UI) because I was creating go_notify,conf via Chef in our server setup, so all of the changes that I put into the UI get overriden by Chef. Once I switched the template in Chef to the correct settings, things worked

[2016-08-05 18:15] ashwanthkumar commented on #52
@michaeloa Oops sorry for the trouble. I thought I had a [banner on the UI](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/master/src/main/resources/views/config.template.html#L3) that said the values are for demonstration only and it's actually not used by the plugin.

The UI was created to avoid a specific exception that GoCD was throwing when the config page was not implemented

[2016-08-05 19:34] michaeloa commented on #52
Ha - you are right, it does say that. Though (at least on my browser), this is just some small subtext below the window title, so I'm not surprised that I entirely overlooked it.

 Also, from my UI experiences, never assume that people read anything unless it is in 100pt text on a red flashing background. And sometimes not even then. :-D

I think based on what you mention, I would actually prefer

[2016-08-08 08:42] michaeloa commented on #52
So, this is still not working exactly as expected. I have a go_notify.conf set up through Chef that looks as follows (local_user inserted via Chef):

[code]

If I understood this correctly, this should mean that we get notifications when proj_1, proj_2. and proj_3 go into production (i.e., pass the stages mentioned) + a notification if any stage fails. First part of that seems to work as expected,

[2016-08-08 09:27] ashwanthkumar commented on #52
I think, you're hitting #19. So far I have not had a reason to implement that feature, but yours look like a valid use-case. Implementing that also means we loose backward compatibility with how the plugin works today. I was hoping to do that with 2.x version.

To handle it for now, you can try something like

[code]

It's easier to visualise it with the following table

| Previous State | Current

[2016-08-23 17:56] jdavisp3 opened #53 "Allow multiple rules to apply"
I think it would be useful to allow multiple rules to apply to the same notification, so that you can send the same notification to multiple channels. Also, different groups may want to see distinct but overlapping sets of notifications and this feature would make that easy to configure.

[2016-08-23 18:04] jdavisp3 commented on #53
Actually this is a duplicate of #19

[2016-08-23 18:04] #53 closed

[2016-08-23 18:05] jdavisp3 commented on #19
👍 to this feature, applying all matching rules would allow much more flexibility.

[2016-08-23 18:10] jdavisp3 commented on #19
We could preserve backwards compatibility by making this an optional feature, or adding a boolean flag, default false, to a rule that says to continue processing other rules even if this one applies.

[2016-08-24 16:28] zuriar opened #54 "Send console log to Slack"
Hi

Is it possible to get hold of the build console log to attach it to a Slack message? I need a way to get the failed build console log to users who do not have login rights to GoCD.

Thanks
Hugh

[2016-08-24 16:59] ashwanthkumar commented on #54
@zuriar Can you please explain the use case a little more?
In the sense, adding users to GoCD is free right? Is there a reason for not creating access to users?

[2016-09-01 12:29] zuriar commented on #54
@ashwanthkumar Sure, I have team members who should not have access to GoCD. We don't want them to. As far as I am aware, we can't lock them down to Read Only. If we could stop them from doing any changes in GO then it would be good - but still more desirable to just send the console log to a slack channel. We are using GO to build Docker images.

[2016-09-01 12:42] ashwanthkumar commented on #54
@zuriar I had a debate on a similar topic with someone internally at my company too little while ago. The reason we decided not go with sending console.log file as attachments were
1. It encourages too much digital waste. The actual error message we're interested in are generally located in the last few lines of the console.log. For long running jobs, the console.log might tend to get bigger.
2. T

[2016-09-29 15:59] ByteFlinger opened #55 "Not able to use a data url as the icon url"
I am trying to set the `slackUserIconURL` as a data url so it does not have to go out on the internet and get some link which may or may not change.

I used this website to create a data url (http://dataurl.net/#dataurlmaker) and pasted the resulting url in my configuration file.

There was no exceptions or complaints from the plugin logs however the notifications had no image associated to it.

I

[2016-09-29 16:11] ashwanthkumar commented on #55
@ByteFlinger AFAIK it's something to do with slack - they don't support it last time I checked[1][2]. The plugin doesn't validate any data like icon urls - we just send it as is to slack. May be there's a new format, that I don't know of. If you can make it work using custom payload and share the attachment snippet - I can fix it for you in the plugin.

Ref
[1] https://twitter.com/slackapi/status/

[2016-10-03 08:26] alethenorio commented on #55
Hi @ashwanthkumar

I will have to look into it to see if the status of the issue has changed on slack side but I have little hope for it. :(

Thank you for the prompt reply

[2016-10-03 10:15] ashwanthkumar commented on #55
@ByteFlinger I'm closing this issue for now. Feel free to re-open / comment back and I'll re-open the issue.

[2016-10-03 10:15] #55 closed

[2016-10-17 20:50] #19 closed

[2016-10-17 20:50] #52 closed

[2016-10-18 21:35] jonwolski commented on #7
@juhasipo, With regard to the following:

I used environment variables for this exact use case, and I found that I rarely needed to update an individual pipeline. In my case, each development team had their own _pipeline group_, so I was able to set the environment variables there instead of on each pipeline.

For things that were global to _all_ pipelines, I set those environment variables on the

[2016-10-18 21:36] jonwolski commented on #7
FWIW, I don't care for setting my slack password in a config file. I would much rather put this in a "secure environment variable." If nothing else, getting an env var for the password would be helpful.

[2016-10-22 13:37] jdavisp3 opened #57 "New release candidate?"
Would it be possible to have a new release candidate with the `processAllRules` option support?

[2016-10-22 14:41] ashwanthkumar commented on #57
Made a release - https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC8

[2016-10-22 14:41] #57 closed

[2016-10-22 14:45] jdavisp3 commented on #57
Thanks very much!

[2016-10-28 13:46] fire opened #58 "Print all changes instead of last 5"
Is it possible to print out all changes instead of the last 5?

[2016-10-28 13:55] ashwanthkumar commented on #58
I can make that change, but do you think it would be useful? It's better done at GoCD's compare view - IMHO. What are your thoughts?

[2016-10-28 14:04] fire commented on #58
In slack we have people that don't have access to perforce or gocd for QA, they would like to see the complete list of changes between builds and this would give them that.

It could be a default off toggle in the config because limiting the amount of text in the slack bot channel is important.

[2016-10-28 14:07] ashwanthkumar commented on #58
@fire Okay. I can make the list of changes configurable in the configuration and have the default as 5 (the default behaviour). Or would you like it to be a switch which when toggled would dump entire list of changes across all materials or limit it to just 5?

[2016-10-28 14:12] fire commented on #58
Perhaps a default of 5 and allow infinity for all changes. Not sure if you want to reuse 0.

I need the ability to dump the entire changes. Limiting it to a number is not as important.

[2016-10-28 14:18] fire commented on #58
Maybe have two [settings], one that defines the number of changes shown and the other which is show all changes.

Show all changes overrides number of changes.

This is because I don't think there's a value in number of changes shown that can be the infinity value.

[2016-10-28 14:28] fire commented on #58
A colleague said use -1 for infinite changes.

[2016-10-28 14:28] ashwanthkumar commented on #58
I guess I'll go with just a toggle that would show either the default list of 5 or all changes - nobody seem to be asking for specifically `n` commits so far 😛

[2016-10-28 14:29] fire commented on #58
That's all we need 👍

[2016-10-30 16:01] jdavisp3 opened #61 "Release 1.4.0-RC9"
cc @ashwanthkumar How does this look:

https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/untagged-7b9139841cb2dfb651c8

[2016-10-30 16:08] ashwanthkumar commented on #61
Looks great 👍 . Please also add SHA256 checksum of the JAR to the release page and also link to the PRs or issues that goes in the release. It would be easy to trace back how / who contributed the feature - I generally found that to be useful.

[2016-10-30 16:16] jdavisp3 commented on #61
Oh, right, how about now?

[2016-10-30 16:16] jdavisp3 commented on #61
https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/untagged-2e847c7470d1b0a1c34c

[2016-10-30 16:17] ashwanthkumar commented on #61
Just perfect! 👍

[2016-10-30 16:20] jdavisp3 commented on #61
🚀 Thanks @ashwanthkumar !

[2016-10-30 16:20] #61 closed

[2016-10-31 17:03] fire commented on #58
@ashwanthkumar Are you still working on this?

[2016-10-31 17:23] ashwanthkumar commented on #58
@fire I haven't started working on it yet. Would you like to take a stab at it?

[2016-10-31 18:47] fire commented on #58
@ashwanthkumar Currently deep in release processes, so I'm not available. I'll look at the source code for curiosity though.

[2016-10-31 20:19] chakrapani123 opened #62 "slack-notifications to multiple channels failing"
Hi,

i have a set-up where in all pipelines notifications of build be sent to dev-channel and deployment notifications sent to deploy-channel .

here is a snapshot of my config

gocd.slack {

  login = “XXXX”

  password = “XXXXX”

  server-host = “XXXXXXX“

  api-server-host = “XXXXXX”

  webhookUrl = "https://hooks.slack.com/services/XXXXXXX”

  pipelines = [{
    name = “deploy-to-dev”
    stag

[2016-10-31 20:27] jdavisp3 commented on #62
To use the `process-all-rules` option you will need to upgrade the plugin to at least `1.4.0-RC8`.

[2016-10-31 23:51] chakrapani123 commented on #62
tried with 1.4.0-RC8 still same issue. just to make sure , if  we have to enable notifications to be sent to multiple channels , we would be needing 2 webhooks and if webhook url is defined locally which would override global settings, notifications fail

[2016-11-01 00:11] jdavisp3 commented on #62
I only use one webhook URL and just override the channel everywhere. But multiple URLs should work too. Not sure what's going wrong with your installation, I am using `process-all-rules` in production now and sending the same event to multiple channels.

[2016-11-01 02:05] ashwanthkumar commented on #62
@chakrapani123 Can you please share the plugin logs? It's generally located along with the go-server logs. It might have some answers.

[2016-11-01 02:50] chakrapani123 commented on #62
Hi,

here is the actual snippet just to have reference to actual log attached here

 pipelines = [{
    name = "xhsecure-service-deploy-to-qa"
    stage = "deploy-to-qa"
    state = "failed|passed"
    channel = "sanket-test"
    webhookUrl = "https://hooks.slack.com/services/XXXXXX”
  },
  {
    name = "._"
    stage = "._"
    state = "failed|passed"
    channel = "om-team-gocd"
  },
  {
    nam

[2016-11-01 02:57] ashwanthkumar commented on #62
That's probably because you've `process-all-rules = "true"` - if the first rule doesn't match the next rule for "all pipelines", "all stages" on passed/failed states send it to `#om-team-gocd` would match and probably why you're getting notifications.

[2016-11-01 03:04] ashwanthkumar commented on #62
Was thinking if I commented too soon. Is that the problem you're facing? The notifications you're getting are on `#om-team-gocd` or `#sanket-test` ?

If it's the former then it's probably because of the scenario I explained in the earlier comment. If it's the latter, then it's probably a bug in the plugin.

[2016-11-01 03:50] chakrapani123 commented on #62
It's the latter and notifications are sent to sanket-test for all xhs\* pipelines

Sent from my iPhone

[2016-11-02 16:21] chakrapani123 commented on #62
just a quick update. i have the same configuration as mentioned above and all the slack notifications go to sanket-test and nothing to om-team-gocd. in essence, plusin always sends to single channel irrespective of pipeline stage or pipeline. multi-channel doesnt seem to work and local variable always overrides global and thus pushing to latest rule than all the rules

[2016-11-02 19:06] jdavisp3 commented on #62
So I have a setup with GoCD 16.8 and 1.4.0-RC9 of the plugin with multiple channels, pipelines, etc. Here's a partial sample:

[code]

This is working fine for me, getting notifications in the right channels for the right pipelines, etc.

When I go to the plugins section on GoCD I see:

<img width="588" alt="screen shot 2016-11-02 at 12 05 07 pm" src="https://cloud.githubusercontent.com/assets/435

[2016-11-02 22:11] chakrapani123 commented on #62
thanks for sharing that.. i have a typical use-case where i have slack channels in 2 different org spaces in slack and thats the reason why incoming webhooks are prompting for 2 slack webhook urls instead of one and wehbook url defined locally overwrites global config or vice versa but doesnt work with 2 webhook urls and 2 channels

[2016-11-02 22:13] chakrapani123 commented on #62
here is my config

[code]

[2016-11-02 22:41] jdavisp3 commented on #62
Oh, I see what you mean, right. I think I see where the bug might be.

[2016-11-02 22:43] jdavisp3 commented on #62
Oh, could you also make sure to add `#` to the channel names? It looks to me like the plugin expects them to start with `#`.

[2016-11-03 03:28] jdavisp3 commented on #62
BTW, I think you could work around this bug by specifying `webhookURL` for every rule.

[2016-11-08 13:34] chakrapani123 commented on #62
tried with both those changed settings..didnt work either

[2016-11-18 21:19] hosh opened #63 "Unable to send notification"
[code]

[code]

The configuration looks like this:

[code]

Java version:
[code]

[2016-11-18 21:21] jdavisp3 commented on #63
The `state` parameter is not a regex, it's a `|`-separated list.

[code]

[2016-11-18 21:37] hosh commented on #63
Gotcha, going to try this, thanks!

[2016-11-25 07:31] fire commented on #58
poke

[2016-12-02 05:13] ashwanthkumar commented on #58
@fire The changes for this are done and pending review (it's on #64 ). Do have a look and let me know your feedback.

Once it's merged, will cut a release.

[2016-12-02 05:33] #58 closed

[2016-12-02 05:52] ashwanthkumar commented on #58
@fire The release [v1.4.0-RC10](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC10) has this change. Please do try it out and let us know your feedback.

[2016-12-05 22:46] fire commented on #58
Just installed it, will see what happens.

[2016-12-06 14:42] ashwanthkumar commented on #63
@hosh I'm closing this issue now. Please feel free to re-open if the issue persists.

[2016-12-06 14:42] #63 closed

[2016-12-06 16:04] ByteFlinger opened #65 "Allow for matching pipeline groups"
Would it be possible to match pipeline groups so that you can have rules per pipeline group rather than pipeline?

[2016-12-06 16:26] ashwanthkumar commented on #65
@ByteFlinger The plugin targets 16.1 today which doesn't seem to have pipeline group in it's response. But from the oldest plugin API docs [that's available](https://plugin-api.go.cd/16.3.0/notifications/#stage-status-changed) (from 16.3.0) - it seems to have group information in the request body. So if we upgrade the Go version dependency - we might be able to support this feature.

[2016-12-07 19:50] fire commented on #58
Works great!

[2016-12-07 23:59] #65 closed

[2016-12-08 00:05] ashwanthkumar commented on #65
@ByteFlinger The new release [1.4.0-RC11](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC11) has this feature. Please do give it a shot and let us know your feedback.

[2016-12-19 17:58] hosh commented on #63
Solution suggested worked.

[2017-02-09 16:42] qgadrian opened #67 "Reason: java.lang.RuntimeException: Unable to find go_notify.conf"
Hi, I'm trying to make the plugin work by I'm facing this issue:

I have defined two environment vars in my machine:

Also tried to locate the config file at `/var/go/go_notify.conf` but that don't work either.

Any ideas?

Tanks!

[2017-02-10 04:39] ashwanthkumar commented on #67
A few questions

1. Can you say what version of the plugin are you using?
2. Can you give me the `printenv` outputs from `go` user instead of `adrian` user?
3. Can you tell me, how these variables are being set? Like are they part of `server.sh` or the user's `.bashrc` or something similar?
4. `/var/go/go_notify.conf` is the default location on linux machines. Going by the output, it looks like yo

[2017-02-10 08:35] qgadrian commented on #67
Hi @ashwanthkumar

1. Tried both `v1.4.0-RC11` and `v1.4.0-RC10`
2. I don't have any `go` user created, do I have to have one? The README says nothing about that.
3. They are on a `.bashrc` file, they are shown on when invoking `printenv`.
4. I also tried to export `CRUISE_SERVER_DIR` environment variable (it didn't exist before then) which should be the path `~/Library/Application\ Support/Go\ Se

[2017-02-10 10:14] ashwanthkumar commented on #67
Generally GoCD runs as `go` user on *nix machines. Again I'm not sure on the mac.

Also, for the plugin to pick up the configuration the environment variables should be accessible by the go-server and not just on the terminal.

While I try to figure out how to get it working on mac (and update the instructions on README), can you try placing your `go_notify.conf` on the home folder of the user run

[2017-02-10 12:25] qgadrian commented on #67
Well, putting the config in my home works when starting the server from local.

I wonder why it didn't work with the docker image.

[2017-02-11 03:17] ashwanthkumar commented on #67
Where in the docker container do you've the go_notify.conf?

[2017-02-11 11:45] qgadrian commented on #67
I tried to locate the file in the `/var/go` directory, didn't work.

Il try to put the file in the home directory but I think that one is empty.

[2017-02-20 09:51] qgadrian commented on #67
Ok, I don't know why I didn't work for the first time, by placing the `go_notify.conf` in the `/var/go/` directory worked in the docker image.

So as a workaround on a mac could be use a docker image instead running gocd locally.

[2017-02-20 10:25] ashwanthkumar commented on #67
Awesome thanks @qgadrian for that note.

I'm still working on testing the setup on Mac (running it locally). Sorry for the delay. Will post my updates soon.

[2017-03-20 18:43] Stono opened #68 "Has this broken in GoCD 17.2?"
Hey,
I've noticed notifications aren't working in 17.2, and then also noticed this in the release notes:
https://github.com/gocd/gocd/commit/8f88269fd8165246820ad1c27685485dd3fe0627

We haven't changed anything other than the gocd version, and I can't see anything in the logs so not sure where else to look!

I don't know enough about either code base to answer this myself, but the slack notifier i

[2017-03-20 18:49] Stono commented on #68
In fact, a lamens look at the code probably looks like it has:
[code]

Shame, as this is a super important plugin for the teams i use it on :(

[2017-03-20 18:53] Stono commented on #68
[code]

[2017-03-20 19:00] ashwanthkumar commented on #68
@Stono Searching the error leads me to this page on [StackOverflow](http://stackoverflow.com/questions/6784463/error-trustanchors-parameter-must-be-non-empty). Can you try if the solutions mentioned helps?

[2017-03-20 19:04] Stono commented on #68
@ashwanthkumar give me a few minutes, as it's in docker I need to add this points and redeploy the container!  I will upgrade to RC11 whilst i'm at it

[2017-03-20 19:04] ashwanthkumar commented on #68
This plugin is not based on old JAVA based API so it's not affected by the upgrade. On the error, it would be super nice if you can share more logs from the `plugin-slack.notifier.log` or `go-server.log` that's relevant to the error.

[2017-03-20 19:05] Stono commented on #68
@ashwanthkumar give me a few minutes, as it's in docker I need to add this points and redeploy the container!  I will upgrade to RC11 whilst i'm at it

[2017-03-20 19:05] Stono commented on #68
This is all I've got from the container
[code]

[2017-03-20 19:12] ashwanthkumar commented on #68
Okay this the `go-server.log`. There's another file called `plugin-slack.notifier.log` in the same directory. Probably that's not piped to STDOUT (for obvious reasons). If you can ssh into the container you should be able to see it. Also you should try the solution of installing custom packages in the container to see if that helps. Not sure what docker container you're using and what version of J

[2017-03-20 19:14] Stono commented on #68
@ashwanthkumar I'm using https://github.com/Stono/gocd-master/blob/master/Dockerfile which is basically the 'gocd image' produced by tw, with a couple of extras that i want (like this plugin).

No plugin logs:
[code]

[2017-03-20 19:19] Stono commented on #68
@ashwanthkumar the two certificate lines fixed it! I'll update the issue on go as you probably want this in the main container.

[2017-03-20 19:19] #68 closed

[2017-03-23 10:09] alethenorio commented on #65
Hi

I am not sure this is working as expected. I have been testing this for a while now but notifications just stopped coming.

I have a configuration like this (All values below are dummy)

[code]

And yet I get no notification and this comes out in the logs

[code]

My-Pipeline in this case is assigned to pipeline group Group1

Am I missing something? I got the feeling that it worked when I test

[2017-03-23 11:02] ashwanthkumar commented on #65
@ByteFlinger You might want to remove your actual webhook urls from the above comment.
Also can you please check and let me know what version of plugin are you using along with the GoCD version too.

[2017-03-23 13:16] alethenorio commented on #65
Hi

The hook URLs are dummies. They are not real. I left them there to show the exact layout of our config

We are used by Gocd 17.1 (upgraded to 17.2 today) and the version of the plugin is the latest 1.4.0-RC11.

I vaguely remember testing it before actual going ahead with it in production and it seemed to work but then it just got quiet

[2017-03-28 15:02] alethenorio commented on #65
@ashwanthkumar Anything I can help to debug here?

[2017-04-04 02:14] ashwanthkumar commented on #65
@ByteFlinger I tried running things locally and I'm not able to reproduce the issue. Can you please double-check if the proxy settings are right?

[2017-04-14 02:32] n4hum opened #69 "Unable to notify to owner or commiter"
Hi, I'm trying to notify of a broken build status to the specific commiter instead of a fixed @userhandle or slack channel.

Does the notify conf file allows me to set for example the $GO_TRIGGER_USER go env variable in the channel field ???

If not Is there any workaround to achieve this ??

Thx

[2017-04-14 02:54] ashwanthkumar commented on #69
@n4hum Today that isn't possible. We don't get the pipeline run environment variables in the notification plugin, since the plugin runs in the server context and environment variables are in agents.

[2017-04-14 03:23] n4hum commented on #69
Thanks @ashwanthkumar but isn't the pipeline commiter user a job / server side variable ?

[2017-04-14 12:00] ashwanthkumar commented on #69
@n4hum We do have the set of changes for a stage run, but it's hard to derive username (for slack) because that's coming from the materials (and only if it's a SCM).

I don't have a definitive solution for this at the moment. Let me look around to see what can be done.

[2017-04-21 08:05] EiyuuZack opened #70 "Encoding?"
It appears messages sent to Slack from the plugin are not being properly encoded?

![image](https://cloud.githubusercontent.com/assets/996955/25268624/56003f9e-2671-11e7-8d89-c6b66abea875.png)

"JoÃ£o" should be "João".

[2017-04-25 08:13] wlsf82 opened #71 "Slack notifications not being sent for specific pipeline rules"
I'm using `gocd-slack-build-notifier` since the beginning of using gocd, and in the last weeks or month I realised that it stopped sending Slack notifications on specific rules.
For example, there is the below rule:

[code]

For this one (above), when the `code-coverage` stage passes notifications are correctly sent, but when it fails no notification is sent (it used to work in the past).

Here is

[2017-04-25 08:44] ashwanthkumar commented on #71
@wlsf82 Can you try this as your pipeline configuration in the relevant part of the configuration?

[code]

If you noticed I've added a new state called `broken` to the list of states. This is because if you see the [code](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/master/src/main/java/in/ashwanthkumar/gocd/slack/ruleset/PipelineStatus.java#L25-L42). The first time a pipeline

[2017-04-25 09:13] wlsf82 commented on #71
I'll do that and I'll keep you posted.
Should I add the `fixed` state as well, since there is a pipeline that is not getting notifications even when it passes?

[2017-04-25 09:21] ashwanthkumar commented on #71
@wlsf82 yes you should. When a pipeline fails / breaks and then passes, it triggers a `fixed` state.

[2017-04-25 10:09] wlsf82 commented on #71
By adding the new `fixed` and `broken` states it works.
Thanks!
I'm closing the issue.

[2017-04-25 10:09] #71 closed

[2017-04-25 10:14] ashwanthkumar commented on #71
Super! Thanks @wlsf82 👍  for using GoCD and the plugin!

[2017-04-26 12:08] alethenorio commented on #65
Hi @ashwanthkumar

Sorry for the late reply here. I am certain the proxy settings are right, I have never changed them and I doubled checked now and everything is as expected. The logs imply that it simply does not think that there are any configurations for all the pipelines triggers that happen within go

[2017-04-28 20:08] ghost opened #72 "Customizable Messages on notifications"
Hi, is it possible to customize the message on the notifications?
Like, for exemple, the bot says: "Hey Guys, the build is not alright. Here is the link:" ?
I cant find any configuration for that, and would be nice, more "friendly" :)

[2017-04-29 02:20] ashwanthkumar commented on #72
@hbsis-williamdasilva Unfortunately we don't have support for it today 😞  Would you be kind enough to send a PR for the same?

PS: I thought the current notification doesn't send any messages (only fields) to keep it delivery-neutral. Sorry you find it less friendly :(

[2017-05-03 04:55] MHP47 opened #73 "Pipeline rules not correctly applying"
Using the rules from [pipeline-rules](https://github.com/ashwanthkumar/gocd-slack-build-notifier#pipeline-rules), it seems to be ignoring the "group" setting, and just matching all names (".*") and the state, then posting on that.

Trying to categorize pipelines based on groups, but it's not working as expected. Is there any log file that's generated for the plugin, or any way to get a debug log o

[2017-05-03 05:00] ashwanthkumar commented on #73
@MHP47 Can you please share the version of the plugin and the GoCD version you're using?

[2017-05-03 05:03] MHP47 commented on #73
Hey @ashwanthkumar, details below

Go Version: 16.10.0 (4131-730ff1867576754414cc632957f344d0263bc06d).
Slack Notification Plugin 1.4.0-RC7

[2017-05-03 05:25] MHP47 commented on #73
Ah, ok, bit more reading, looks like [#65](https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/65) is this issue. I will give the latest release a go, see if that fixes this :)

[2017-05-03 05:39] MHP47 commented on #73
@ashwanthkumar looks like gocd-slack-notifier-1.4.0-RC11.jar resolves this issue :+1:

[2017-05-03 05:39] #73 closed

[2017-07-27 21:48] zerolaser opened #74 "GoCD incoming slack webhooks should ask for approval or reject option"
Is it possible for the Gocd Slack notification to ask for approve or reject button.

lets say a pipeline has two stages. soon after successful run of stage1 it should send a notification to slack channel. Do you approve or reject it ?
when approval button is clicked it should run stage2

[2017-07-28 06:59] ashwanthkumar commented on #74
@zerolaser I really like the approach. But AFAIK to build action buttons and make it work, slack needs to be able to access an action url to post the status. We generally don't want to expose our CI / CD servers to the public internet.

[2017-07-28 18:41] zerolaser commented on #74
@ashwanthkumar yeah. its a quite risk exposing it. what if you add an authentication mechanism to do so ?
will it be a risk of exposing GoCD server's user credentials to slack (incoming webhook)?

most of the cases slack and gocd will be on ldap authentication, get the slack userid and match it with GoCD user and also check if the user has permission to trigger the pipeline?

Also I am looking for

[2017-08-16 08:29] pasmon commented on #36
@gtrias Sorry I'm late to the game, but care to share the integration script you are using to get this working? I'm failing to access and print the information of attachments properly in our Rocket.Chat.

[2017-09-27 16:35] tonyzwei opened #75 "Could not send message to slack: connect timed out"
Error: Interaction with plugin with id 'slack.task' implementing 'task' extension failed while requesting for 'execute'. Reason: [Could not send message to slack: connect timed out]took

But I ran a simple curl call to the webhook and it works.

The same pipeline job works for other Go agents of different networks. Any reason could it be?

[2017-09-28 06:23] ashwanthkumar commented on #75
This repository houses the plugin with id [`slack.notifier`](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/master/src/main/resources/plugin.xml#L2) and not `slack.task`. Looks like you're looking for a task plugin, while this repo holds the notification plugin. Can you please check and let me know?

[2017-09-28 06:29] ashwanthkumar commented on #75
I guess the repository is https://github.com/Vincit/gocd-slack-task.

[2017-10-04 14:55] staker4 commented on #70
Any updates on this issue? I'm having the same problems and would be nice to have this fixed.

[2017-10-16 20:48] whyer commented on #70
+1

[2017-10-17 14:00] atifsaddique211f opened #76 "GoCD Slack plugin does not show console log, or material change in latest gocd version."
Hi
I am using gocd version `17.4.0`.
gocd-slack plugin version : `v1.4.0-RC11`
But slack notification plugin does not show console or material change logs when sending notification.
Error : `(Couldn't fetch build details; see server log.)` .
Error : `(Couldn't fetch changes; see server log.)` .

There is one more issue, I am getting notification a lot later the build has run, It has been 15 minute

[2017-10-19 02:32] ashwanthkumar commented on #76
@atifsaddique211f Can you please check the plugin logs on the server? They would be along side the server logs generally. It would be of the name `plugin-slack.notifier.log` or something similar. It might have additional information on why it's not able to fetch the build details.

Some possible causes I can think of are
1. Wrong/Incorrect credentials (login and password) in the `go_notify.conf`
2

[2017-12-15 02:03] dwijnand commented on #7
I no longer use GoCD, so I don't even know if this is still an issue.

[2017-12-15 02:03] #7 closed

[2017-12-29 16:42] ashwanthkumar commented on #76
Closing this. If you're still facing any issues, please feel free to open a new issue or re-open the same issue.

[2017-12-29 16:42] #76 closed

[2017-12-29 16:43] ashwanthkumar commented on #75
Closing this as not an issue.

[2017-12-29 16:43] #75 closed

[2018-01-09 10:37] ndeztea opened #77 "setup CRUISE_SERVER_DIR and GO_NOTIFY_CONF"
Hi,

I am new on goCD and I am trying to setup the notif to slack, I wont to know more detail how and where can i setup this configuration GO_NOTIFY_CONF and CRUISE_SERVER_DIR, please explain more..

thank you!

[2018-01-10 02:14] ashwanthkumar commented on #77
Hopefully [this](https://docs.gocd.org/current/installation/install/server/linux.html#location-of-gocd-server-files) should help.

[2018-01-10 02:14] #77 closed

[2018-01-18 19:10] squatchBKLN opened #78 "will plugin operate only on specified pipelines?"
i have a question about the configuration of the plugin that was unclear to be from the documentation...

if my gocd server has 100 pipelines but i only want to receive slack notifications on failure to a small subset of them, is there a way to configure the plugin to do this.  for example, i have 5 jobs that i want notifications for but i want no communication at all for the other 95, does the pl

[2018-01-19 02:41] ashwanthkumar commented on #78
@squatchBKLN Short answer - yes!

#### Long answer

In the default configuration that's shared in the README there's a section similar to below

[code]

This change enables notifications for all the pipelines. Instead if you can put in the list of all pipeline, stage combinations you want to monitor. This plugin will only send notifications for that.

[2018-03-07 09:32] michaelbannister opened #79 "Successful re-run of previously 'broken' stage does not result in 'fixed' notification"
I have a pipeline/stage which occasionally fails in a non-deterministic way (e.g. due to environmental issues). When this fails, I correctly get a BROKEN notification to Slack. If I re-run the stage, and it passes, I'd expect to get a FIXED notification, but I don't.
On the next run of that pipeline/stage, it passes again, but again I _don't_ get any notification. So in my Slack channel it appears

[2018-04-25 18:05] hbsis-williamdasilva opened #81 "Error while sending notifications: Unable to find valid certification"
Good adternoon, I'm getting this error while trying to send a notification:

![image](https://user-images.githubusercontent.com/23528701/39263848-be4c0092-4899-11e8-8869-e12a749924a9.png)

Here it is the go_notify.conf (the login and password are the ones to log on the Go Cd machine)
![image](https://user-images.githubusercontent.com/23528701/39263962-fb3b2a46-4899-11e8-9771-52a13b68d044.png)

I'm

[2018-04-30 18:36] vyomrastogi commented on #81
Facing same issue for sometime now.
error from logs
[code]

Need some insight on what to check or how to resolve ?

[2018-05-01 02:10] ashwanthkumar commented on #81
Sorry for the late response on this one. This error usually happens when JDK is not able to validate the destination HTTPS certificate.

If you're using a latest JDK this should not be a problem generally. Another reason why this might occur is, do you've a proxy in your environment? Either an explicit or an implicit one? If a proxy is doing a MITM for HTTPS connections, then the certificate retur

[2018-05-01 17:26] hchemanchula commented on #81
I am using latest version of plugin and seeing similar issue. Any help could be appreciated..!!

[code]

[2018-05-02 11:55] ghost commented on #81
Thanks for the reply @ashwanthkumar. I will check the jdk version on our environment. I will check also with our infrastructure team about the proxy. I can't do this now, but as soon as I do it, I will inform on this issue. :)

[2018-05-02 15:41] vyomrastogi commented on #81
Upgrading java for gocd server to JDK8u171 fixed the cert issue for me. Thanks for quick help.

[2018-05-02 15:44] ashwanthkumar commented on #81
@vyomrastogi Thanks for the update. Glad it worked out.

@hchemanchula Can you please post the plugin logs?

[2018-05-02 20:21] ghost commented on #81
@ashwanthkumar upgraded the jdk version to JDK8u171 as @vyomrastogi  did and the problem still occurs. I will investigate the proxy question. Any hints on what to do if it is a proxy related issue?

[2018-05-03 02:43] ashwanthkumar commented on #81
@hbsis-williamdasilva Silly question - Did you try restarting the Go Server post the JDK installation?

If it's a proxy related issue,

[2018-05-03 11:36] ghost commented on #81
@ashwanthkumar not a silly question at all, since my team mate who upgraded the jdk did not restart the Go Server haha

But I did it right now and still get the exception. Starting to think this is a proxy related. I'm talking with the Infrastructure guys. Any info and I'll inform you. Thanks :)

[2018-05-03 16:28] ghost commented on #81
@ashwanthkumar Found a little guy hidden here:
![image](https://user-images.githubusercontent.com/23528701/39589888-cb04e79e-4ed5-11e8-90f0-17dd44612aeb.png)

Does this plugin works only for github repositories? We were using github but migrated to bitbucket.
Could this be the problem?

[2018-05-03 16:41] ashwanthkumar commented on #81
@hbsis-williamdasilva No that shouldn't be a problem. You might not get a pretty URL in the slack message but it shouldn't break the plugin's functionality.

Ref - Check [This](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/f7d27529b2525a8cd58fc02e9f32b7c8a4b1bfb9/src/main/java/in/ashwanthkumar/gocd/slack/jsonapi/MaterialRevision.java#L54-L60) and [that](https://github.com/ashwant

[2018-05-03 16:50] ghost commented on #81
Got it, thanks. So this is not the problem...

Ok, here is what we know: Our CI envoironment is HTTP and bitbucket is HTTPS. We are getting a SSL Handshake exception, so it is probably because we can't acces bitbucket.
Things looks like it is not a problem with the notifier.
Thanks for your time @ashwanthkumar. I think we can close the issue now

[2018-05-03 16:54] #81 closed

[2018-05-03 16:59] kirantech58 opened #82 "java.lang.NullPointerException"
Error Am facing  Can you please help me
[code]

 java -version
java version "1.8.0_40"
Java(TM) SE Runtime Environment (build 1.8.0_40-b26)
Java HotSpot(TM) 64-Bit Server VM (build 25.40-b25, mixed mode)

[2018-05-03 17:18] ashwanthkumar commented on #82
@kirantech58 Can you please share your configuration file that you're using? Please mask any sensitive details like URLs and credentials.

[2018-05-03 18:43] kirantech58 commented on #82
@ashwanthkumar

here is my  configuration file

[code]

[2018-05-04 12:25] ghost commented on #81
@ashwanthkumar For the records, maybe this can help someone:

The problem was with the proxy/firewall, the machine could not connect to the Webhook from slack (wich is https).
Problem solved

[2018-05-04 12:51] ashwanthkumar commented on #81
Thanks @hbsis-williamdasilva for the update :+1:

[2018-05-06 23:03] ghost commented on #72
@ashwanthkumar I'm reving this issue :D
I'll try to make a pull request. Maybe I'll just need some help to understand somethings. So can I ask if I find something difficult?
Also, I would like to hear your opinion about what I have in mind:
The same way you have rules on your config, for pipelines, you could have a custom message for each pipeline.

I was trying somethings with slack webhook and c

[2018-05-07 02:31] ashwanthkumar commented on #72
@hbsis-williamdasilva Go for it 👍 I would be happy to review the changes and merge it in.

[2018-05-07 12:47] ghost commented on #72
@ashwanthkumar Found something:
https://github.com/ashwanthkumar/slack-java-webhook/blob/master/src/main/java/in/ashwanthkumar/slack/webhook/service/SlackService.java

On this service, the message is built on the method push (line 36).
My initial idea is to pass a custom json on the pipeline rules, and this method push would receive this json without changing it and pass it to the execute method.

[2018-05-07 13:17] kirantech58 commented on #82
And Go Version: 16.1.0  and Slack-Notifier Version: gocd-slack-notifier-1.4.0-RC10.jar any Suggestion on changing .jar version.

[2018-05-07 13:33] ghost commented on #72
(@ashwanthkumar also, do I need permission to create a branch on your projects? What is the best way to commit for you? )

[2018-05-07 15:26] ghost commented on #72
@ashwanthkumar So, I did the changes, here they are:
First, on the Slack Java Webhook, at the SlackService class, I did an overload of the method execute, to receive a string, wich will be our custom json:
![image](https://user-images.githubusercontent.com/23528701/39709620-c236e84c-51f0-11e8-8ec5-cdf8d6df904d.png)

After that, I did the same thing at the Slack class:
![image](https://user-images.

[2018-05-07 17:55] ghost commented on #72
@ashwanthkumar Asked for a friend to help me and we did it 👍
Check this out:
There is another change that we found, when the pipeline rule is cloned:
![image](https://user-images.githubusercontent.com/23528701/39716313-66dcb790-5206-11e8-8ae6-41ecef484bec.png)

So now it works.
Here it is the config for 2 pipelines, Infra.Build and Infra.Tests:
![image](https://user-images.githubusercontent.com/23

[2018-05-09 05:15] ashwanthkumar commented on #72
@hbsis-williamdasilva That's great! I generally accept Pull-Requests with the changes. You can read more about it at https://help.github.com/articles/creating-a-pull-request/

[2018-05-11 07:55] ashwanthkumar commented on #82
@kirantech58 The error points out that `listener` in the configuration is wrong. But from your config it looks like you've not changed it.

Do you find any errors on the `plugin-slack.notifier.log` ?

I'm looking for errors related to something like [this](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/025490e387329299bfbc11d29ea4e62a9c17497e/src/main/java/in/ashwanthkumar/gocd/sl

[2018-05-15 14:35] hchemanchula commented on #82
Hi,

I am also facing same issue, please find the logs below:
[code]

[2018-05-16 04:59] ashwanthkumar commented on #82
@hchemanchula Can you please check the above [comment](https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/82#issuecomment-388290248) and find any relevant details on the logs before this error is thrown?

[2018-05-16 13:15] hchemanchula commented on #82
@ashwanthkumar Hi, I am not seeing any exceptions related to the pipeline listener.

[2018-05-16 13:28] ashwanthkumar commented on #82
@hchemanchula Is there any other exceptions apart from this one on the logs? Would it be possible for you to share the entire log file (after masking any sensitive information in it) here?

Please also share the plugin version and GoCD version you're using.

[2018-05-16 18:23] hchemanchula commented on #82
@ashwanthkumar I am using GoCD 18.2v and gocd-slack-notifier-1.4.0-RC10.  Not seeing any other exceptions in the log other than the null pointer exception.

[code]

[2018-07-23 06:26] frangte opened #83 "Slack notify not sent Changes."
I try to config `go_notify.conf` to send notify with Changes massage, but i don't see in message.

Here is my config:
[code]
- Example notify:
![image](https://user-images.githubusercontent.com/19859575/43060394-f9453264-8e7a-11e8-999e-fb5f2827a3d2.png)

- Log:
[code]

[2018-07-23 15:21] ashwanthkumar commented on #83
@Frangte Is it happening for all the notifications or just for some of them?

Also can you please share plugin and GoCD server version?

[2018-07-24 02:38] frangte commented on #83
Yes, it happening for all notifications. And my GoCD version is 17.12.0, plugin version is 1.4.0-RC11.
Thanks for reply!

[2018-07-26 17:32] frangte commented on #83
@ashwanthkumar can you help me.
:+1:

[2018-07-29 03:59] ashwanthkumar commented on #83
@Frangte Can you also share the Materials view of the pipeline? I'm looking forward to know what kind of material the pipeline depends on.

Also the log statements, the notifications screenshot and the configuration above don't seem to match. Can you please consider sharing the full log of the pipeline?

[2018-08-03 16:09] pavelkostyurin opened #84 "How to see logs generated by the plugin?"
Hi!

Please, suggest.

Also, is there a way to get not only commit name, but also description (goCD correctly shows commit description in webGUI)

[2018-08-05 05:25] ashwanthkumar commented on #84
The logs should be located along side the GoCD Sever logs. On linux, it's generally available under `/var/log/go-server`. It would be of the form `plugin-slack.notifier.log`.

Can you please describe more on this? Does it mean, you want to show the commit message as well? Can you try setting `displayMaterialChanges` to `true` in the configuration and see if that's what you're looking for?

[2018-08-06 08:45] pavelkostyurin commented on #84
Thanks, both questions are solved.

For full commit message to work, I had to swap `mod.summarizeComment();` with `mod.comment;` in `SlackPipelineListener` class.

[2018-08-06 12:48] #84 closed

[2018-08-09 13:05] zayyeh opened #85 "Display notifications for changes according to whitelist"
GoCD correctly triggers pipeline according to my material whitelist, but plugin lists all changes for this repository, while ideally it should list only those matching whitelist. Could you guide me how to add this feature?

[2018-08-09 15:18] ashwanthkumar commented on #85
@zayyeh The top changes for each material are the ones that already passed the whitelist or blacklist filters. Is there a more specific reason to just filter them further on the already truncated list of items of changes?

Also AFAIK even GoCD doesn't show just the whitelist changes while showing the changes isn't?

[2018-08-10 09:24] pavelkostyurin commented on #85
Thanks for the answer.

Yeah, GoCD shows all changes, that's why I'm asking about possibility of getting only whitelist changes.

We could have tons of commits to the repository, but for the pipeline only several (whitelist) changes matter, and I want to display only them or not display anything at all, because otherwise it's confusing as it doesn't belong to that pipeline.

[2018-08-10 13:48] ashwanthkumar commented on #85
If you want to restrict what you see on the GoCD Dashboard this plugin can't help you. This plugin only deals with what get's displayed on the slack message.

What I proposed was, a pipeline wouldn't run until there's a whitelist / blacklist match in the first place. When the pipeline runs the top or top-N commits are already related to the changes that this pipeline was tracking. So doing a filte

[2018-08-10 18:59] pavelkostyurin commented on #85
If only I knew how to calculate N...

Anyway, thanks for the help, please, close the ticket.

[2018-08-11 05:12] #85 closed

[2018-09-18 10:35] matthias-k commented on #82
I experienced a similar (or likely the same) problem and it turned out that I accidentally had mounted the plugin configuration as `/home/go/go_notify.conf/go_notify.conf` instead of `/home/go/go_notify.conf` which meant that the plugin tried to read a directory. After I fixed the mount path, the nullpointer exceptions are gone.

[2018-09-19 11:58] cfontes opened #86 "Stopped working on 18.9 Gocd Server build"
Hello,

This is a super useful plugin, thanks for creating it

Unfortunately after the latest update, it stopped working for me

[code]

`Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'stage-status'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the following response:

[2018-09-20 09:11] ashwanthkumar commented on #86
Possible duplicate of #82

Can you check and let me know if this suggestion (https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/82#issuecomment-422342732) works?

[2018-09-26 17:09] kecondezo opened #87 "Server returned HTTP response code: 401"
I have the gocd-slack-notifier-1.4.0-RC11.jar plugin version on GoCD v18.8 (using a docker container).
This is my go_notify.conf file
[code]

I know that the plugin is taking my configuration file because when I ran a pipeline I have this log in gocd server saying thet the api-server-host configured is returning 401 status but when i try it manually using curl command inside the server and inside

[2018-09-27 09:17] ashwanthkumar commented on #87
@kecondezo Username credentials to the GoCD should be a direct user on the server. If you're using any auth plugins, then please use the default `admin` account.

[2018-09-27 14:59] kecondezo commented on #87
Thank you you were right, but as I have no authentication implemented yet in gocd I had to left this user and password properties empty. Now I am reaching fine the gocd rest api.
After this I had another issue so I will chek if there is not a previous similar issue otherwise i will open another issue.
we can close this.
Thank you @ashwanthkumar

[2018-09-27 15:15] #87 closed

[2018-10-02 02:36] frangte opened #88 "Can't install plugin"
![image](https://user-images.githubusercontent.com/19859575/46326110-7b541e00-c625-11e8-97d1-1b7cb7d03c51.png)

- Above is error after i repalace `.jar` file in `plugin/external` and restart GoCD.
- GoCD version is: 18.7

[2018-10-03 23:11] ashwanthkumar commented on #88
@frangte Can you check the checksum of the file that you've downloaded? May be the download of the JAR failed or was corrupted?

The SHA 256 checksum of the file should be
[code]

[2018-10-04 04:31] frangte commented on #88
Yes. Thanks for you  reply. I try redownload and resolve my issue.

[2018-10-04 04:32] #88 closed

[2018-10-05 09:28] cfontes commented on #82
For some reason during the update this file was whipped clean.

I added the config again and it works!

Thanks!

[2018-10-05 09:28] cfontes commented on #86
For some reason during the update this file was whipped clean.

I added the config again and it works!

Thanks!

[2018-10-05 09:28] #86 closed

[2018-10-05 09:45] ashwanthkumar commented on #82
Closing the issue. Please re-open if you still have issues.

[2018-10-05 09:45] #82 closed

[2018-10-31 14:59] mbelchin opened #89 "No enum constant in.ashwanthkumar.gocd.slack.ruleset.PipelineStatus..*"
Hi,

today I made some configurations into my `go_notify.conf` file. Just added a new pipeline configuration to post messages to a certain slack channel for a new project.

After restarting server & agent I got this error for gocd-slack notifier plugin.

[code]

My configuration looks like this:

[code]

This is the new configuration added today.
[code]

Whenever I run a new pipeline I see this er

[2018-10-31 15:13] ashwanthkumar commented on #89
@mbelchin `.*` in `state` is not the right value. If you want to send a notification for all the states, you might to consider using `all`. Can you please try changing the value of the `state = '.*'` to `state=all` and see if you still get an error?

[2018-10-31 15:54] mbelchin commented on #89
You're totally right. After changing that value to `all` everything is working as expected.

Sorry for the noice @ashwanthkumar I was just probably to fast on copy/paste.

[2018-10-31 17:15] #89 closed

[2018-11-29 11:10] abhayda commented on #6
I m still facing this issue with latest Go server

Error - Notification update failed for plugin: slack.notifier29 Nov, 2018 at 16:21:45 Local Time

Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'stage-status'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the followin

[2018-11-30 06:27] abhayda opened #90 "slack notification issue with latest GOCD again"
I m still facing this issue with latest Go server

Error - Notification update failed for plugin: slack.notifier29 Nov, 2018 at 16:21:45 Local Time

Interaction with plugin with id 'slack.notifier' implementing 'notification' extension failed while requesting for 'stage-status'. Reason: [The plugin sent a response that could not be understood by Go. Plugin returned with code '500' and the followin

[2018-11-30 07:13] ashwanthkumar commented on #90
@abhayda It looks like the plugin is not able to talk to Slack's API. Do you've a proxy or a firewall in place between your GoCD Server and internet? If yes, then it's possibly blocking access to slack's host. That's the reason for the failure.

[2018-11-30 07:27] abhayda commented on #90
@ashwanthkumar Thanks for your reply, This issue i am observing only in case of a plugin,
curl request works fine.

curl -X POST -H 'Content-type: application/json' --data '{"text":"Hello,World!"}' https://hooks.slack.com/services/xxx"

[2018-11-30 07:52] ashwanthkumar commented on #90
Can you please share your config file? Please mask away any sensitive information like passwords from that before posting it here.

[2018-11-30 07:56] abhayda commented on #90
Its working fine now after commenting out proxy setting from my config file.

#proxy {
  #  hostname = "localhost"
  #  port = "5555"
  #  type = "socks" # acceptable values are http / socks
  #}

Thanks for your help :)

[2018-12-01 02:02] #90 closed

[2018-12-29 03:38] harish123321 opened #91 "Send notifications to Microsoft Teams"
I want to send build information to Microsoft Teams from GOCD. Is there any way can I do it.

[2019-01-01 17:08] ashwanthkumar commented on #91
@harish123321 We don't support Microsoft Teams right now. If you're willing to help, it should be easy to add that integration in here.

[2019-01-01 17:11] ashwanthkumar commented on #91
@harish123321 We don't support Microsoft Teams right now. Let me know if you're willing to help by sending a PR. It should be easy to add that integration in here.

[2019-01-24 15:10] pavelkostyurin opened #92 "Fetch changes for all upstream pipelines"
For downstream pipeline we use several upstream pipelines as materials. And it seems like the plugin only checks latest instance of upstream pipelines.

Is it possible to fetch all changes made to upstream pipelines since last successful run off downstream pipeline? Maybe you can guide me how to do that.

[2019-01-24 15:42] ashwanthkumar commented on #92
@pavelkostyurin We can but wouldn't that be too much information to process? Isn't GoCD's Compare View more suited for such use case? Or did you want a compare view link in the slack message?

[2019-01-24 16:06] pavelkostyurin commented on #92
We want to display all commits made to these pipelines (all materials for upstream pipelines are git repos) in Slack. And now I get only commits, corresponding to latest instances of these pipelines. Of course, it's not what we want, because there can be many instances of upstream pipelines forming downstream pipeline build.

[2019-01-24 16:12] pavelkostyurin opened #93 "Duplicate changes when using multiple materials"
https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/b2a213d3ea521c09b475e8aa1430c2ff9be0955a/src/main/java/in/ashwanthkumar/gocd/slack/SlackPipelineListener.java#L113-L114

When using multiple repositories, you get following:

[code]

instead of

[code]

Swap these two lines to solve this issue.

[2019-01-28 02:53] arvindkumarc opened #94 "Success notification is not sent to Slack"
GoCD Version: 18.12.0
The failure notifications are fine, but the `success after failure` were not notified.

[2019-01-28 10:32] ashwanthkumar commented on #94
@arvindkumarc Can you please attach your configuration that you're using? Also was it working in the previous versions of GoCD or the plugin?

What version of the plugin are you using?

[2019-01-29 07:38] arvindkumarc commented on #94
@ashwanthkumar Plugin Version: `1.4.0-RC10`
With the previous version (which I don't remember what) was working fine.
[code]

[2019-02-04 21:05] pavelkostyurin commented on #92
Could you guide me, what would your steps if you were to design this feature?

[2019-02-13 14:39] staker4 opened #95 "GoCD 19.1.0 error with plugin 1.4.0-RC11"
## Configuration
**GoCD Version** : 19.1.0
**Plugin Version** : 1.4.0-RC11

## Error
Following error occurs :

![error_message](https://user-images.githubusercontent.com/546128/52718811-4c09d200-2f72-11e9-9f8e-fadee1f48b2e.png)

## Context
I just upgraded GoServer from 18.10.0 to 19.1.0 and this error occured.

## Logs

**go-server.log**
![go-server log](https://user-images.githubusercontent.com/5

[2019-02-13 15:15] ashwanthkumar commented on #95
Thanks for reporting this issue. I'll look into this over the weekend.

Looks like there's some dependency for the plugin which was removed or
conflicting from GoCD server.

On Wed, Feb 13, 2019, 8:09 PM Raymond Tiefengraber <notifications@github.com
wrote:

[2019-02-13 15:16] staker4 commented on #95
👍

[2019-02-26 12:04] arvindkumarc commented on #94
Hi @ashwanthkumar, Did you get a chance to look at this?

[2019-03-04 12:30] staker4 commented on #95
Any news on this issue? Thanks

[2019-03-04 14:19] ashwanthkumar commented on #95
Sorry about this. I still haven't got around to check this yet. I'm in a
middle of a job change so my hands pretty full. If you want a would like to
take a stab the issue that would be great. I can help with any specific
questions or issues you might run into three process.

On Mon, 4 Mar, 2019, 6:00 PM Raymond Tiefengraber, <notifications@github.com>
wrote:

[2019-03-06 05:51] arvindsv commented on #95
@staker4 Did you also upgrade Java along with this? Maybe from 8 to 9?

[2019-03-06 05:58] arvindsv commented on #95
@staker4 I've made a change which should fix this: https://github.com/arvindsv/gocd-slack-build-notifier/commit/cfbeb0e6ce2b7ac2bd04302c8175c643dc4bb89e

If you're able to try it out and verify that it works, please let me know. If you want me to give you a locally built JAR, I can do that too.

[2019-03-06 06:00] arvindsv commented on #95
The short of it is: In Java 9, that class was deprecated and moved to a module. The recommended fix is to depend on it directly.

[2019-03-07 16:34] Sepirothni commented on #95
@arvindsv would it be possible to get that locally built JAR for issue validation?

*update* nevermind I was able to get the change to compile locally

[2019-03-07 19:21] staker4 commented on #95
@arvindsv , I didn't change my version Java. I'm currently at Version 8 Update 161 (build 1.8.0_161-b12).

[2019-03-07 23:40] arvindsv commented on #95
@Sepirothni Did it work?

[2019-03-07 23:40] arvindsv commented on #95
@staker4 Strange. Maybe they removed it in that version. Not sure. If possible, try the one from this gist: https://gist.github.com/arvindsv/dc5468230b20e96229b1d9a35ed1c484

[2019-03-07 23:45] staker4 commented on #95
@arvindsv I will try it first thing tomorrow morning. I don't have access to my instance of GOCD at this moment.

[2019-03-07 23:52] arvindsv commented on #95
@Sepirothni I see you replied in https://groups.google.com/d/msg/go-cd/_SJY0C4eB2o/Eu5EphX6AgAJ (I assume that's you).

[2019-03-08 17:00] Sepirothni commented on #95
@arvindsv yes that's me, yes it is working I just have one pipeline that's being odd but the others appear to be working as desired

[2019-03-09 20:06] staker4 commented on #95
@arvindsv I installed the RC12 version on my GOCD server (**Windows x64**) instance but with errors. I tried on a clean GOCD server (**Windows x64**) and still getting errors: **zip END header not found**

Here's the **go-server.log** I got :

[code]

[2019-03-12 19:37] arvindsv commented on #95
@staker4 That is strange. I see that the JAR file is not uploaded properly. :( GitHub gists don't seem to like JAR files.

I've uploaded it to Dropbox: https://www.dropbox.com/s/y5hdsjbr753i155/gocd-slack-notifier-1.4.0-RC12.jar?dl=1

The checksum of the file should be:

[code]

[code]

[2019-03-12 20:31] staker4 commented on #95
@arvindsv it works again. Thank you so much :smiley:

[2019-03-12 20:31] #95 closed

[2019-03-12 20:37] arvindsv commented on #95
Great! I've opened #96 for @ashwanthkumar to merge and release.

[2019-03-13 06:35] ashwanthkumar commented on #95
Thanks @arvindsv for the PR. I've created a [new release](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC12) with the above changes.

[2019-07-10 03:33] kicketster opened #97 "is there a way to Tag teams instead of username ?"
What I am trying to do is to tag team instead of a slack user

for example,
`owner` field in Slack accept username such as "ashwanthkumar".
However, instead of tagging "ashwanthkumar", I wanna tag the team "ashwanthkumar" belongs to. like <!subteam^IDMYS7814|developer-team>

[2019-07-10 04:17] ashwanthkumar commented on #97
@kicketster I haven't personally tried it but can you try adding the team name like `@developer-team` and see if it works?

[2019-07-10 04:20] khooj002 commented on #97
Yeah I tried it already, it doesn’t work. If you are tagging team in Slack, it has to be in the format from the above example.

[2019-07-25 09:28] nextl00p opened #98 "Support token based API authentification"
Since v19.02 GoCD support [token based API](https://api.gocd.org/current/#bearer-token-authentication) authentification.

Would be cool to make this plugin work without having to create a dedicated API user.

[2019-11-23 18:04] andriymarchuk opened #101 "GoCD 19.10.0 error with plugin 1.4.0"
Configuration
GoCD Version : 19.10.0
Plugin Version : 1.4.0

Error
Following error occurs :

Notification update failed for plugin: slack.notifier23 Nov, 2019 at 17:47:55 Local Time
javax/xml/bind/DatatypeConverter

Context
I just upgraded GoCD  from 19.4.0 to 19.10.0 and this error occurred.

looks like the similar issue to https://github.com/ashwanthkumar/gocd-slack-build-notifier/issues/95

[2019-11-23 20:05] arvindsv commented on #101
Yes. It's the same as #95. [Release v1.4.0-RC12](https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v1.4.0-RC12) should work.

[2019-11-24 07:25] andriymarchuk commented on #101
Unfortunately, this does not work. Also I have  tried latest release

[2019-11-24 07:35] andriymarchuk commented on #101
bash-4.4$ /gocd-jre/bin/java --version
openjdk 13 2019-09-17
OpenJDK Runtime Environment AdoptOpenJDK (build 13+33)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 13+33, mixed mode, sharing)

[2019-11-28 10:09] arvindsv commented on #101
Just for the record, I tried it with OpenJDK 13 and it worked fine for me.

Plugin version: 1.4.0-RC11
GoCD version: 19.10.0

[code]

[2020-01-16 16:51] #83 closed

[2020-01-31 11:05] jg-synth opened #103 "Unable to fetch pipeline history"
## Summary

Using plugin 1.4.0 and GoCD 20.1.0, I am unable to get pipeline history from the API.

I believe this is due to a missing header in the request. In GoCD 20.1.0, the pipeline history endpoint has been upgraded to version 1 and so it is necessary to include the `Accept` header:

[code]

## Configuration

GoCD Version: 20.1.0 (11114-f2c1771e333ea92dae82cd78d2efa1310c1086f0).
Plugin Versio

[2020-02-07 15:27] nicolaasuni commented on #103
+1

[2020-02-07 23:19] idontwanttosignin commented on #103
+1 to this being an issue

As @jg-synth mentioned this is due to missing headers.

I was able to work around this by passing in the headers during the getUrl function in src/main/java/in/ashwanthkumar/gocd/slack/jsonapi/Server.java. I'll put the code below, but don't plan on making an MR since I'm sure there are much better ways to do this, but I'm not well versed in java and can't spend the time

[2020-02-10 10:45] nicolaasuni commented on #103
PR to fix this:
https://github.com/ashwanthkumar/gocd-slack-build-notifier/pull/104

[2020-02-12 15:58] tobywan opened #105 "Bearer token is base64 encoded and should be used 'raw'"
Hi,

According to

https://api.gocd.org/current/#authentication

we should use the api token like this:

[code]

Testing with curl confirms I can talk to my local gocd server.

However in src/main/java/in/ashwanthkumar/gocd/slack/jsonapi/Server.java
the bearer token is base64 encoded:

[code]
Configuring my go_notify.conf to use the api-token that worked above, results in a 401 error from gocd.
Se

[2020-02-16 22:29] bwalendz commented on #105
I have the same issue.

[2020-03-02 16:47] nicolaasuni commented on #105
I have fixed this in https://github.com/ashwanthkumar/gocd-slack-build-notifier/pull/104

@ashwanthkumar Would you be able to review and merge these fixes?

[2020-03-03 23:34] ashwanthkumar commented on #105
This is now fixed and released as part of https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v2.0.0.

Thanks @nicolaasuni

[2020-03-03 23:34] #105 closed

[2020-03-03 23:35] ashwanthkumar commented on #101
Closing this for now. @andriymarchuk If you still have the issue, please feel free to re-open the issue.

[2020-03-03 23:35] #101 closed

[2020-03-03 23:35] ashwanthkumar commented on #103
Fixed as part of #104

Thanks @nicolaasuni

[2020-03-03 23:35] #103 closed

[2020-03-03 23:36] ashwanthkumar commented on #98
This is now available via #100.

Thanks to @tamizhgeek

[2020-03-03 23:36] #98 closed

[2020-03-03 23:38] ashwanthkumar commented on #72
Closing this as non-active issue.

[2020-03-03 23:38] #72 closed

[2020-03-03 23:38] ashwanthkumar commented on #5
Closing this issue since nobody else has requested for this for now.

[2020-03-03 23:38] #5 closed

[2020-03-03 23:39] ashwanthkumar commented on #21
No real need for this feature yet. Most of them are happy with using conf files for rules.

[2020-03-03 23:39] #21 closed

[2020-03-03 23:41] ashwanthkumar commented on #54
#59 enables log links in the slack message that's sent.

[2020-03-03 23:41] #54 closed

[2020-03-03 23:42] ashwanthkumar commented on #62
Closing this issue for being non-active right now. If you're still facing the issues please re-open the issue.

[2020-03-03 23:42] #62 closed

[2020-03-03 23:48] #93 closed

[2020-03-04 20:32] jefftrimm commented on #103
Many Thanks!

[2020-03-07 22:22] lukyanov opened #106 "The plugin can't fetch changes"
Here is the error I get in the server logs when my pipeline fails:

[code]

The interesting thing is that when I make `curl http://localhost:8153/go/api/pipelines/tp-core-PR-build/instance/22` it works.

GoCD version: 20.1.0
Plugin version: 2.0.1

[2020-03-08 05:29] ashwanthkumar commented on #106
Would you be kind enough to please try the jar as part of https://github.com/ashwanthkumar/gocd-slack-build-notifier/pull/107 and let me know if that fixes the issue?

[2020-03-09 09:11] lukyanov commented on #106
Just checked. It's failing with the same error.

[2020-03-09 09:25] nicolaasuni commented on #106
Unfortunately it doesn't fix the issue:
[code]

[2020-03-09 10:30] ashwanthkumar commented on #106
Ah! From the [documentation](https://api.gocd.org/current/#comment-on-pipeline-instance), it looks like the URL has changed. They seem to have dropped the `/instance/` from the URL.

Please try this version that has the URI fix

Build: [gocd-slack-notifier-2.0.2-RC2.jar.zip](https://github.com/ashwanthkumar/gocd-slack-build-notifier/files/4306059/gocd-slack-notifier-2.0.2-RC2.jar.zip)

#### Checks

[2020-03-10 07:28] lukyanov commented on #106
It looks like with this build the section "Changes" disappeared in the slack message.

[2020-03-10 09:30] lukyanov commented on #106
Oh, sorry. It actually works now! I was just triggering pipelines without changes.

[2020-03-10 16:12] ashwanthkumar commented on #106
Great thanks for testing. I'll cut a release with those changes shortly.

[2020-03-10 16:16] ashwanthkumar commented on #106
This is fixed as part of https://github.com/ashwanthkumar/gocd-slack-build-notifier/releases/tag/v2.0.2.

[2020-03-10 16:16] #106 closed

[2020-03-11 06:20] lukyanov commented on #106
@ashwanthkumar This new build with version 2.0.2 doesn't work :)
[code]

[2020-03-11 06:26] ashwanthkumar commented on #106
@lukyanov Seems like some kind of race condition. Can you try restarting the Go-Server once to make sure you still get the error?

[2020-03-11 10:02] lukyanov commented on #106
I tried several times but still experiencing this.

[2020-03-12 04:33] ashwanthkumar commented on #106
I'm not sure what's happening then. The error points to the fact that SlackListener implementation is not loaded properly. This most of the times in my experience points to an issue with Configuration file. Either invalid / not found / not readable, etc.

[2020-04-03 14:42] lukyanov commented on #106
You were right, it was due to the configuration.

This is what causes it:
[code]
A add this part to the end of my config file. When I remove this, everything works. Is this considered wrong?

[2020-04-03 14:51] arvindsv commented on #106
@lukyanov According to the documentation `state` should be `all`, rather than `.*`. Maybe try that?

Disclaimer: I don't use this plugin. Just someone curious. So, if it doesn't work, someone else will need to help.

[2020-07-03 14:02] plasticaxe opened #108 "Quick Disable?"
Hi,
Is there a property available to disable all notifications for a pipeline?
`  pipelines = [{
    group = ".*"
    name = ".*"
    stage = "this_particular_stage"
    state = "failed|fixed|broken"
    enabled = "false"     <-------
  }, {
    group = ".*"
    name = ".*"
    stage = ".*"
    state = "failed|fixed|broken"
  }]`

[2020-07-03 14:04] ashwanthkumar commented on #108
No there isn't. I would love to get that feature into the plugin if I had a PR for that.

[2020-07-08 08:08] sandeeprapido commented on #6
@abhayda +1

@ashwanthkumar Facing this issue in Gocd Version : 19.5.0 and Plugin Version v1.4.0

[2020-09-02 12:54] atownsend-iotic opened #109 "No configuration setting found for key 'name'"
Running into the following error message when trying to configure different pipelines for slack messages.

[code]
Here's my current config

[code]

I'm using v2.0.2 of the plugin and GoCD is v20.1.0.

I'm trying to get anything in the dev group to post to a different channel but it fails. Messages to the build-pipelines channel continue to work. Any clues?

[2020-09-02 13:02] atownsend-iotic commented on #109
I think this may actually be resolved now. For anyone searching, I added a name = "blah*" to the first pipeline and it started to work.

[2020-09-02 13:02] #109 closed

[2021-06-17 14:53] jdavisp3 commented on #97
I'm interested in working on this. Any guidance on how you'd like to see this structured @ashwanthkumar ?

[2021-06-17 15:07] ashwanthkumar commented on #97
@jdavisp3 I would assume it would be a new field in the configuration may be?

[2021-06-17 19:42] sagrawal-myriad commented on #91
I was wondering if there is a push for this feature or if there is any other solution that could be used.

[2021-06-18 05:14] ashwanthkumar commented on #91
I'm just going to put this out here, if someone is willing to help for this feature. You might need a parallel implementation of [this class](https://github.com/ashwanthkumar/gocd-slack-build-notifier/blob/master/src/main/java/in/ashwanthkumar/gocd/slack/SlackPipelineListener.java) for MS Teams. I would be happy to review any PRs regarding this.

[2021-10-12 18:21] lukelast commented on #91
Hi @ashwanthkumar , I've started to work on this and would love some feedback if you have time.
https://github.com/lukelast/gocd-slack-build-notifier/commits/master

[2021-10-25 23:09] jdavisp3 commented on #91
Hi @ashwanthkumar , what do you think of the PR posted above?

[2021-10-25 23:15] ashwanthkumar commented on #91
@jdavisp3 I did look at the commits on the fork and they look good. I haven't personally used Teams though so would need help in validating the changes in a real installation. For the changes to get merged, I would also need help with the documentation for the relevant bits.

[2021-10-25 23:16] jdavisp3 commented on #91
🆒 we can help with that. We will be testing in a real installation and can help with documentation.

[2021-11-23 18:42] lukelast commented on #91
@ashwanthkumar I created a PR for Teams support.
https://github.com/ashwanthkumar/gocd-slack-build-notifier/pull/112

I took a stab at updating the readme. Please let me know if there's anything else I can do.

[2022-02-11 06:31] Abbykawai opened #113 "项目引用了cd.go.plugin:go-plugin-api@20.1.0等11个开源组件，存在1个漏洞，建议升级"
大佬，看你这个项目调用了cd.go.plugin:go-plugin-api@20.1.0等11个开源组件，存在1个安全漏洞，建议你升级下。
[code]
还有其它几个漏洞，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=i96329

[2022-10-14 15:22] marcogreiveldinger3798 opened #115 "Craft a new release after MS Teams PR"
Hi together,

after PR #112 support for Teams was added. Would it be possible to release a jar with this changes included, so I could use it easily in my gocd instance?

Thanks and best regards!